/* Wrap */
@media
 only screen and (max-width: 38em) {
  div.flex-row {
    flex-wrap: wrap;
  }
  div.flex-card {
    width: 96%;
  }
}

/* Create a row */
div.flex-row {
    display: flex;
    flex-direction: row;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

/* Create a shadowed row */
div.flex-row-shadow {
    display: flex;
    flex-direction: row;
    margin-top: 1rem;
    margin-bottom: 1rem;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

/* Create a two-wide column */
div.flex-col {
    margin-left: 1rem;
    margin-right: 1rem;
    width: 46%;
}

/* Create asymmetric two-wide columns */
div.flex-col-wide {
    margin-left: 1rem;
    margin-right: 1rem;
    width: 78%;
}

div.flex-col-narrow {
    margin-left: 1rem;
    margin-right: 1rem;
    width: 18%;
}

/* Create a two-wide card */
div.flex-card {
    padding: 2px 16px;
    margin-left: 1rem;
    margin-right: 1rem;
    width: 46%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}
/* Create an eight-wide column */
div.flex-eight {
    margin-left: 1rem;
    margin-right: 1rem;
    width: 10%;
}

/* Show a table with no extra space */
table.slim {
    width: auto;
}

/* Disclaimer about disabling comments */
div.comments-disclaimer {
    font-style: italic;
    font-size: 80%;
    text-align: center;
}

/* Footer */
footer {
    border-top: solid 1px gray;
}

/* Bibliography entries */
.bibkey {
    font-weight: bold;
}
.bibkey::before {
    content: "[";
}
.bibkey::after {
    content: "] ";
}

/* No extra space for lists */
div.tightlist ul {
    margin-bottom: 0;
}
div.tightlist ol {
    margin-bottom: 0;
}
