div.well {
    padding-top: 0px;
    padding-bottom: 0px;
}

body {
    padding-top: 60px;
    padding-bottom: 60px;
}

.copyright {
    color: #ffffff;
}

.footer {
    background-color: #222266;
    text-align: center;
}

.footer a {
    color: #ee4444;
}

.sidebar {
    font-size: 90%;
}

.sidebar h1 {
    color: #ee4444;
    font-size: 1.3em;
}

.sidebar a {
    color: #428bca;
}

.sidebar li {
    margin-top: .7em;
    line-height: 1em;
}

.sidebar a:hover {
    color: #3071a9;
}

.container-left {
    margin: 0;
}

.well h1 {
    color: #ee4444;
    font-size: 1.5em;
}

.well h2 {
    color: #ee4444;
    font-size: 1.3em;
    font-style: italic;
}

.well h3 {
    color: #ee4444;
    font-size: 1.3em;
}

.well h3 {
    color: #ee4444;
    font-size: 1.1em;
}

.author {
    color: #ee4444;
}

.author a {
    color: #ee4444;
}

img.navbar-icon {
    height: 20px;
    padding-right: 10px;
}

blockquote {
    font-size: 1em;
}

th.sideways {
    writing-mode: sideways-lr;
    -webkit-writing-mode: sideways-lr;
    padding-right: 1em;
}

div.changed {
    color: green;
}

.changed {
    color: green;
}
