body {
    padding-top: 10px;
    padding-bottom: 10px;
}

pre.highlight {
    background-color: #f8f8f8;
}

div.sidebar {
    font-size: 90%;
}

div.main {
    border-left: solid 2px #8080A0;
}

div.sidebar ul {
    padding-left: 1em;
}

div.sidebar p+ul {
    padding-top: -10px;
    margin-top: -10px;
}

a {
    color: #8080C0;
}

hr {
    border: none;
    height: 2px;
    color: #8080A0;
    background-color: #8080A0;
}

h2 {
    font-style: italic;
}

h4 {
    font-style: italic;
}

.container-left {
    margin: 0;
}

blockquote {
    background-color: #f0f0f0;
    padding-left: 0.5em;
    padding-top: 0.5em;
    padding-right: 0.5em;
}

ol, ul {
    padding-left: 1.2em;
}

ol ul {
    padding-bottom: 0.5em;
}

dl {
    padding-left: 1em;
}

dt {
    clear: left;
    float: left;
    margin: 0 0.5em 0 0;
}

dt::before {
    content: "";
    display: block;
    height: 0.25em;
}

dd::before {
    content: "";
    display: block;
    height: 0.25em;
}

dd p {
    display: inline;
    margin: 0;
    padding: 0;
}

dt {
    margin-left: -1em;
}

.glossref {
    text-decoration: underline;
}

img.footer {
    height: 120px;
}
