html {
    --muted-light: #e6e7e9;
    line-height: 1.25;
}

article p {
    line-height: 1.25;
}

li p {
    display: inline;
}

h1, h2, h3, h4 {
    margin-bottom: 0px;
}

h2, h3, h4 {
    margin-top: 0px;
}

dd {
    padding-bottom: 5px;
}

b,
strong,
th {
    background-color: var(--muted-light);
}

blockquote {
    border-left: var(--muted-light) 5px solid;
    padding-left: 5px;
    margin-left: 0px;
}
