body {
    line-height: 1.5;
}

h1 {
    margin-bottom: 0rem;
}

.remark-inline-code {
    font-size: 100%;
}

.remark-slide-content {
    font-size: 130%;
}

.exercise h2::before {
    content: "\270E "; /* pencil */
}

.exercise h2 {
    background-color: var(--stamp-purple-trans);
}

.sidebar h2::before {
    content: "\2606 "; /* star */
}

.sidebar h2 {
    background-color: var(--stamp-red-trans);
}

.padtop {
    padding-top: 3rem;
}

img.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

caption {
    font-weight: bold;
}

.bibliography {
    font-size: 90%;
}
