/*  Fonts */
@import url("https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap");

/* Variables */
:root {
    --lightgray: #E8E8E8;
    --darkgray: #D8D8D8;
    --shadow: rgba(0, 0, 0, 0.2);

    --stamp-brown: #5F483C;
    --stamp-brown-trans: #5F483C40;
    --stamp-red: #8B000F;
    --stamp-red-trans: #8B000F40;
    --stamp-purple: #7D6E87;
    --stamp-purple-trans: #7D6E8740;
    --stamp-blue: #1B2A83;
    --stamp-blue-trans: #1B2A8340;
    --stamp-green: #7F9971;
    --stamp-green-trans: #7F997140;
    --stamp-orange: #AD7353;
    --stamp-orange-trans: #AD735340;

    --lightborder: 1px;
    --mediumborder: 2px;
    --heavyborder: 5px;

    --page-width: 60rem;
    --body-size: large;
    --code-size: medium;
    --image-width: 80%;

    --no-spacing: 0px;
    --small-spacing: 0.25rem;
    --medium-spacing: 0.5rem;
    --large-spacing: 1rem;
    --shadow-spacing: 15px 28px 25px -18px;
}

/* Overall appearance */
html {
    font-family: "Atkinson Hyperlegible", sans-serif;
    font-size: var(--body-size);
}

nav {
    padding-bottom: var(--small-spacing);
    border-bottom: solid var(--lightgray) var(--mediumborder);
    margin-bottom: var(--small-spacing);
}
a.navlink {
    margin-left: var(--small-spacing);
    margin-right: var(--small-spacing);
}

body {
    margin-left: var(--large-spacing);
    max-width: var(--page-width);
}

footer {
    margin-top: var(--medium-spacing);
    border-top: solid var(--lightgray) var(--mediumborder);
    padding-top: var(--small-spacing);
    text-align: center;
}

/* Cards */
div.card {
  box-shadow: var(--shadow-spacing) var(--shadow);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border: solid var(--lightgray) var(--lightborder);
  display: flex;
  flex-direction: column;
  position: relative;
  padding-left: var(--small-spacing);
  padding-right: var(--small-spacing);
  margin: var(--small-spacing);
}
div.card img {
    margin: auto;
    display: block;
}
div.card img:last-child {
    padding-bottom: var(--small-spacing);
}

/* Elements */
blockquote {
    padding-left: var(--medium-spacing);
    border-left: solid var(--stamp-purple-trans) var(--heavyborder);
}

code {
    font-family: "Source Code Pro", monospace;
    font-size: var(--code-size);
}

h1 {
    text-align: center;
    background-color: var(--stamp-blue-trans);
}

h2 {
    background-color: var(--stamp-green-trans);
}

h3 {
    background-color: var(--stamp-orange-trans);
    margin-top: var(--medium-spacing);
    margin-bottom: var(--medium-spacing);
}

img.image {
    width: var(--image-width);
}

dt {
    background-color: var(--stamp-brown-trans);
    font-weight: bold;
}

dd {
    margin-bottom: var(--medium-spacing);
}

table {
    border-collapse: collapse;
}
th, td {
    padding-top: var(--small-spacing);
    padding-bottom: var(--small-spacing);
    padding-left: var(--medium-spacing);
    padding-right: var(--medium-spacing);
    vertical-align: top;
    border: solid var(--lightborder) var(--lightgray);
}
th {
    font-weight: bold;
}

/* Flex grid */
.row {
    display: flex;
    flex-flow: row wrap;
    width: 100%
}
.row > * {
  flex: 1; /* allow children to grow when space available */
}
.col-1 { flex-basis: 8.33%; }
.col-2 { flex-basis: 16.66%; }
.col-3 { flex-basis: 25%; }
.col-4 { flex-basis: 33.33%; }
.col-5 { flex-basis: 41.66%; }
.col-6 { flex-basis: 50%; }
.col-7 { flex-basis: 58.33%; }
.col-8 { flex-basis: 66.66%; }
.col-9 { flex-basis: 75%; }
.col-10 { flex-basis: 83.33%; }
.col-11 { flex-basis: 91.66%; }
.col-12 { flex-basis: 100%; }

/* Generic positioning */
.left {
    text-align: left;
}
.right {
    text-align: right;
}
.center {
    text-align: center;
}
