section {
  text-align: left;
}

.reveal section img {
  background: none;
  border: none;
  box-shadow: none;
}

p.title {
  text-align: left;
  font-weight: bold;
  font-size: 150%;
}

span.oops {
  font-weight: bold;
  font-style: italic;
}

div.left {
  text-align: left;
  float: left;
}

div.center {
  text-align: center;
}

div.right {
  float: right;
  text-align: right;
}
