<div id="refs" class="references">
<div id="ref-almeida-licenses-2017">
<p>[1] Daniel A. Almeida, Gail C. Murphy, Greg Wilson, and Mike Hoye. 2017. Do software developers understand open source licenses? In <em>Proceedings of the 25th international conference on program comprehension</em>, IEEE Press, 1–11. DOI:<a href="https://doi.org/10.1109/ICPC.2017.7" class="uri">https://doi.org/10.1109/ICPC.2017.7</a></p>
</div>
<div id="ref-amdur-selectaccess-2002">
<p>[2] Gene Amdur, Andrew Flint, Irving Reid, and Greg Wilson. 2002. SelectAccess: Extensible network access control. <em>Doctor Dobb’s Journal</em> (2002).</p>
</div>
<div id="ref-aranda-requirements-2007">
<p>[3] Jorge Aranda, Steve Easterbrook, and Greg Wilson. 2007. Requirements in the wild: How small companies do it. In <em>15th IEEE international requirements engineering conference (RE 2007)</em>, Institute of Electrical &amp; Electronics Engineers (IEEE). DOI:<a href="https://doi.org/10.1109/re.2007.54" class="uri">https://doi.org/10.1109/re.2007.54</a></p>
</div>
<div id="ref-arjomandi-smart-messages-1996">
<p>[4] Eshrat Arjomandi, William G. O’Farrell, and Gregory V. Wilson. 1996. Smart messages: An object-oriented communication mechanism for parallel systems. <em>Computing Systems</em> 9, 4 (1996), 313–329.</p>
</div>
<div id="ref-beckham-big-iron-2000">
<p>[5] Pete Beckman and Greg Wilson. 2000. Open source meets big iron. <em>Doctor Dobb’s Journal</em> (2000).</p>
</div>
<div id="ref-blischak-git-2016">
<p>[6] John D. Blischak, Emily R. Davenport, and Greg Wilson. 2016. A quick introduction to version control with git and GitHub. <em>PLOS Computational Biology</em> 12, 1 (2016), e1004668. DOI:<a href="https://doi.org/10.1371/journal.pcbi.1004668" class="uri">https://doi.org/10.1371/journal.pcbi.1004668</a></p>
</div>
<div id="ref-brown-aosa1-2011">
<p>[7] Amy Brown and Greg Wilson (Eds.). 2011. <em>The architecture of open source applications: Elegance, evolution, and a few fearless hacks</em>. Lulu.</p>
</div>
<div id="ref-brown-aosa2-2012">
<p>[8] Amy Brown and Greg Wilson (Eds.). 2012. <em>The architecture of open source applications: Structure, scale, and a few more fearless hacks</em>. Lulu.</p>
</div>
<div id="ref-brown-teaching-tips-2018">
<p>[9] Neil C.C. Brown and Greg Wilson. 2018. Ten quick tips for teaching programming. <em>PLOS Computational Biology</em> 14, 4 (2018). DOI:<a href="https://doi.org/10.1371/journal.pcbi.1006023" class="uri">https://doi.org/10.1371/journal.pcbi.1006023</a></p>
</div>
<div id="ref-cabot-teams-2009">
<p>[10] Jordi Cabot and Greg Wilson. 2009. Tools for teams: A survey of web-based software project portals. <em>Doctor Dobb’s Journal</em> (2009).</p>
</div>
<div id="ref-campbell-practical-2009">
<p>[11] Jennifer Campbell, Paul Gries, Jason Montojo, and Greg Wilson. 2009. <em>Practical programming</em>. Pragmatic Bookshelf.</p>
</div>
<div id="ref-clarke-tiny-1991">
<p>[12] Lyndon Clarke and Greg Wilson. 1991. Tiny: An efficient routing harness for the inmos transputer. <em>Concurrency: Practice &amp; Experience</em> 3, 3 (1991), 221–245. DOI:<a href="https://doi.org/10.1002/cpe.4330030307" class="uri">https://doi.org/10.1002/cpe.4330030307</a></p>
</div>
<div id="ref-denny-research">
<p>[13] Paul Denny, Brett A. Becker, Michelle Craig, Greg Wilson, and Piotr Banaszkiewicz. 2019. Research this! Questions that computing educators most want computing education researchers to answer. In <em>Proceedings of the 2019 acm conference on international computing education research</em>, ACM. DOI:<a href="https://doi.org/10.1145/3291279.3339402" class="uri">https://doi.org/10.1145/3291279.3339402</a></p>
</div>
<div id="ref-devenyi-collab-lesson-2018">
<p>[14] Gabriel A. Devenyi, Rémi Emonet, Rayna M. Harris, Kate L. Hertweck, Damien Irving, Ian Milligan, and Greg Wilson. 2018. Ten simple rules for collaborative lesson development. <em>PLOS Computational Biology</em> 14, 3 (2018). DOI:<a href="https://doi.org/10.1371/journal.pcbi.1005963" class="uri">https://doi.org/10.1371/journal.pcbi.1005963</a></p>
</div>
<div id="ref-hodges-js">
<p>[15] Maya Gans, Toby Hodges, and Greg Wilson. 2020. <em>JavaScript for data science</em>. Chapman &amp; Hall/CRC Press.</p>
</div>
<div id="ref-vandergroot-tuple-spaces-1997">
<p>[16] Roel van der Goot, Jonathan Schaeffer, and Gregory V. Wilson. 1997. Safer tuple spaces. In <em>Second international conference on coordination languages and models (coordination 1997)</em> (Lecture notes in computer science), Springer, 289–301.</p>
</div>
<div id="ref-gorda-auctions-1997">
<p>[17] Brent Gorda and Greg Wilson. 1997. Building and running online auctions. <em>Doctor Dobb’s Journal</em> (1997).</p>
</div>
<div id="ref-gries-memview-2005">
<p>[18] Paul Gries, Volodymyr Mnih, Jonathan Taylor, Greg Wilson, and Lee Zamparo. 2005. Memview: A pedagogically-motivated visual debugger. In <em>Proc. ASEE/IEEE frontiers in education 2005</em>.</p>
</div>
<div id="ref-hannay-survey-2009">
<p>[19] Jo Erskine Hannay, Carolyn MacLeod, Janice Singer, Hans Petter Langtangen, Dietmar Pfahl, and Greg Wilson. 2009. How do scientists develop and use scientific software? In <em>2009 ICSE workshop on software engineering for computational science and engineering</em>, Institute of Electrical &amp; Electronics Engineers (IEEE). DOI:<a href="https://doi.org/10.1109/secse.2009.5069155" class="uri">https://doi.org/10.1109/secse.2009.5069155</a></p>
</div>
<div id="ref-hyde-parallel-education-1995">
<p>[20] Daniel C. Hyde, David Kotz, Gordon Makinson, Panagiotis Takis Metaxas, Christopher H. Nevison, Nan C. Schaller, and Gregory V. Wilson. 1995. Different approaches to parallel computing education. In <em>Proc. 9th international parallel processing symposium</em>, IEEE Computer Society.</p>
</div>
<div id="ref-levesque-cold-shoulder-2004">
<p>[21] Michelle Levesque and Greg Wilson. 2004. Open source, cold shoulder. <em>Software Development</em> (2004).</p>
</div>
<div id="ref-findable">
<p>[22] Sarah Lin, Ibraheem Ali, and Greg Wilson. 2020. Ten quick tips for making things findable. <em>PLOS Computational Biology</em> 16, 12 (December 2020), e1008469. DOI:<a href="https://doi.org/10.1371/journal.pcbi.1008469" class="uri">https://doi.org/10.1371/journal.pcbi.1008469</a></p>
</div>
<div id="ref-lung-replication-2008">
<p>[23] Jonathan Lung, Jorge Aranda, Steve M. Easterbrook, and Gregory V. Wilson. 2008. On the difficulty of replicating human subjects studies in software engineering. In <em>Proc. 30th international conference on software engineering (ICSE 2008)</em>, Association for Computing Machinery (ACM), 191–200.</p>
</div>
<div id="ref-matthews-metoffice-2008">
<p>[24] David Matthews, Greg Wilson, and Steve Easterbrook. 2008. Configuration management for large-scale scientific computing at the UK met office. <em>Computing in Science and Engineering</em> 10, 6 (2008), 56–64. DOI:<a href="https://doi.org/10.1109/mcse.2008.144" class="uri">https://doi.org/10.1109/mcse.2008.144</a></p>
</div>
<div id="ref-mierle-student-cvs-2005">
<p>[25] Keir Mierle, Kevin Laven, Sam Roweis, and Greg Wilson. 2005. Mining student CVS repositories for performance indicators. <em>SIGSOFT Software Engineering Notes</em> 30, 4 (2005), 1. DOI:<a href="https://doi.org/10.1145/1082983.1083150" class="uri">https://doi.org/10.1145/1082983.1083150</a></p>
</div>
<div id="ref-live-coding">
<p>[26] Alexander Nederbragt, Rayna Michelle Harris, Alison Presmanes Hill, and Greg Wilson. 2020. Ten quick tips for teaching with participatory live coding. <em>PLOS Computational Biology</em> 16, 9 (September 2020), e1008090. DOI:<a href="https://doi.org/10.1371/journal.pcbi.1008090" class="uri">https://doi.org/10.1371/journal.pcbi.1008090</a></p>
</div>
<div id="ref-oram-beautiful-code-2007">
<p>[27] Andy Oram and Greg Wilson (Eds.). 2007. <em>Beautiful code: Leading programmers explain how they think</em>. O’Reilly.</p>
</div>
<div id="ref-oram-making-software-2010">
<p>[28] Andy Oram and Greg Wilson (Eds.). 2010. <em>Making software: What really works, and why we believe it</em>. O’Reilly.</p>
</div>
<div id="ref-petre-code-review-2014">
<p>[29] Marian Petre and Greg Wilson. 2014. Code review for and by scientists. In <em>Proc. Second workshop on sustainable software for science: Practice and experience</em>. DOI:<a href="https://doi.org/arXiv:1407.5648" class="uri">https://doi.org/arXiv:1407.5648</a></p>
</div>
<div id="ref-reid-cvs-2005">
<p>[30] Karen L. Reid and Gregory V. Wilson. 2005. Learning by doing: Introducing version control as a way to manage student assignments. In <em>Proc. 36th sigcse technical symposium on computer science education</em>, Association for Computing Machinery (ACM), 272–276.</p>
</div>
<div id="ref-reid-drproject-2007">
<p>[31] Karen L. Reid and Gregory V. Wilson. 2007. DrProject: A software project management portal to meet educational needs. In <em>Proc. 38th sigcse technical symposium on computer science education</em>, Association for Computing Machinery (ACM), 317–321.</p>
</div>
<div id="ref-schossau-sustainable-2014">
<p>[32] Jory Schossau and Greg Wilson. 2014. Which sustainable software practices do scientists find most useful? In <em>Proc. Second workshop on sustainable software for science: Practice and experience</em>. DOI:<a href="https://doi.org/arXiv:1407.6220" class="uri">https://doi.org/arXiv:1407.6220</a></p>
</div>
<div id="ref-sholler-newcomers">
<p>[33] Dan Sholler, Igor Steinmacher, Denae Ford, Mara Averick, Mike Hoye, and Greg Wilson. 2019. Ten simple rules for helping newcomers become contributors to open projects. <em>PLOS Computational Biology</em> 15, 9 (September 2019), e1007296. DOI:<a href="https://doi.org/10.1371/journal.pcbi.1007296" class="uri">https://doi.org/10.1371/journal.pcbi.1007296</a></p>
</div>
<div id="ref-desimone-active-expressions-1998">
<p>[34] Mauricio de Simone and Greg Wilson. 1998. The active expressions library. <em>Doctor Dobb’s Journal</em> (1998).</p>
</div>
<div id="ref-stroulia-ucosp-2011">
<p>[35] Eleni Stroulia, Ken Bauer, Michelle Craig, Karen Reid, and Greg Wilson. 2011. Teaching distributed software engineering with UCOSP: The undergraduate capstone open-source project. In <em>Workshop on collaborative teaching of globally distributed software development, co-located with ICSE 2011</em>.</p>
</div>
<div id="ref-taschuk-robust-2017">
<p>[36] Morgan Taschuk and Greg Wilson. 2017. Ten simple rules for making research software more robust. <em>PLOS Computational Biology</em> 13, 4 (2017). DOI:<a href="https://doi.org/10.1371/journal.pcbi.1005412" class="uri">https://doi.org/10.1371/journal.pcbi.1005412</a></p>
</div>
<div id="ref-teal-data-carpentry-2015">
<p>[37] Tracy K. Teal, Karen A. Cranston, Hilmar Lapp, Ethan White, Greg Wilson, Karthik Ram, and Aleksandra Pawlik. 2015. Data carpentry: Workshops to increase data literacy for researchers. <em>International Journal of Digital Curation</em> 10, 1 (2015). DOI:<a href="https://doi.org/10.2218/ijdc.v10i1.351" class="uri">https://doi.org/10.2218/ijdc.v10i1.351</a></p>
</div>
<div id="ref-trew-past-present-parallel-1991">
<p>[38] Arthur Trew and Greg Wilson (Eds.). 1991. <em>Past, present, parallel</em>. Springer. DOI:<a href="https://doi.org/10.1007/978-1-4471-1842-8" class="uri">https://doi.org/10.1007/978-1-4471-1842-8</a></p>
</div>
<div id="ref-webb-matlab-scripting-1999">
<p>[39] Peter Webb and Greg Wilson. 1999. MATLAB as a scripting language. <em>Doctor Dobb’s Journal</em> (1999).</p>
</div>
<div id="ref-wilson-open-source-bad-example-1999">
<p>[40] Greg Wilson. 1999. Is the open source community setting a bad example? <em>IEEE Software</em> 16, 1 (1999).</p>
</div>
<div id="ref-wilson-three-sensible-adventures-1999">
<p>[41] Greg Wilson. 1999. <em>Three sensible adventures</em>. Annick Press.</p>
</div>
<div id="ref-wilson-xml-programming-2003">
<p>[42] Greg Wilson. 2003. XML-based programming systems. <em>Doctor Dobb’s Journal</em> (2003).</p>
</div>
<div id="ref-wilson-data-crunching-2005">
<p>[43] Greg Wilson. 2005. <em>Data crunching: Solve everyday problems using java, python, and more</em>. Pragmatic Bookshelf.</p>
</div>
<div id="ref-wilson-nature-2005">
<p>[44] Greg Wilson. 2005. Open source offers solutions for science software education. <em>Nature</em> 436, (2005), 600.</p>
</div>
<div id="ref-wilson-bottleneck-2006">
<p>[45] Greg Wilson. 2006. Where’s the real bottleneck in scientific computing? <em>American Scientist</em> (2006).</p>
</div>
<div id="ref-wilson-whimper-2007">
<p>[46] Greg Wilson. 2007. …But with a whimper. <em>On Spec</em> 19, 3 (2007).</p>
</div>
<div id="ref-wilson-controlled-release-2007">
<p>[47] Greg Wilson. 2007. Controlled Release. <em>On Spec</em> 19, 4 (2007).</p>
</div>
<div id="ref-wilson-bottle-light-2008">
<p>[48] Greg Wilson. 2008. <em>Bottle of light</em>. Scholastic.</p>
</div>
<div id="ref-wilson-learn-history-2008">
<p>[49] Greg Wilson. 2008. Those who will not learn from history…. <em>Computing in Science and Engineering</em> 10, 3 (May 2008), 5–6. DOI:<a href="https://doi.org/10.1109/mcse.2008.86" class="uri">https://doi.org/10.1109/mcse.2008.86</a></p>
</div>
<div id="ref-wilson-amsci-2009">
<p>[50] Greg Wilson. 2009. How do scientists really use computers? <em>American Scientist</em> 97, 5 (2009), 360. DOI:<a href="https://doi.org/10.1511/2009.80.360" class="uri">https://doi.org/10.1511/2009.80.360</a></p>
</div>
<div id="ref-wilson-shelves-2009">
<p>[51] Greg Wilson. 2009. Not on the shelves. <em>IEEE Softw.</em> 26, 3 (May 2009), 8–9. DOI:<a href="https://doi.org/10.1109/ms.2009.75" class="uri">https://doi.org/10.1109/ms.2009.75</a></p>
</div>
<div id="ref-wilson-still-2010">
<p>[52] Greg Wilson. 2010. Still. <em>On Spec</em> 22, 2 (2010).</p>
</div>
<div id="ref-wilson-swc-lessons-2016">
<p>[53] Greg Wilson. 2016. Software carpentry: Lessons learned. <em>F1000Research</em> (2016). DOI:<a href="https://doi.org/10.12688/f1000research.3-62.v2" class="uri">https://doi.org/10.12688/f1000research.3-62.v2</a></p>
</div>
<div id="ref-wilson-t3">
<p>[54] Greg Wilson. 2019. <em>Teaching tech together</em>. Chapman &amp; Hall/CRC Press.</p>
</div>
<div id="ref-wilson-creating-effective-lesson">
<p>[55] Greg Wilson. 2019. Ten quick tips for creating an effective lesson. <em>PLOS Computational Biology</em> 15, 4 (April 2019), e1006915. DOI:<a href="https://doi.org/10.1371/journal.pcbi.1006915" class="uri">https://doi.org/10.1371/journal.pcbi.1006915</a></p>
</div>
<div id="ref-wilson-cs1-scientists-2008">
<p>[56] Greg Wilson, Christine Alvarado, Jennifer Campbell, Rubin Landau, and Robert Sedgewick. 2008. CS-1 for scientists. <em>SIGCSE Bulletin</em> 40, 1 (2008), 36. DOI:<a href="https://doi.org/10.1145/1352322.1352151" class="uri">https://doi.org/10.1145/1352322.1352151</a></p>
</div>
<div id="ref-wilson-best-practices-2014">
<p>[57] Greg Wilson, D. A. Aruliah, C. Titus Brown, Neil P. Chue Hong, Matt Davis, Richard T. Guy, Steven H. D. Haddock, Kathryn D. Huff, Ian M. Mitchell, Mark D. Plumbley, Ben Waugh, Ethan P. White, and Paul Wilson. 2014. Best practices for scientific computing. <em>PLoS Biology</em> 12, 1 (2014). DOI:<a href="https://doi.org/10.1371/journal.pbio.1001745" class="uri">https://doi.org/10.1371/journal.pbio.1001745</a></p>
</div>
<div id="ref-wilson-good-enough-2017">
<p>[58] Greg Wilson, Jennifer Bryan, Karen Cranston, Justin Kitzes, Lex Nederbragt, and Tracy K. Teal. 2017. Good enough practices in scientific computing. <em>PLoS Computational Biology</em> 13, 6 (June 2017), 1–20. DOI:<a href="https://doi.org/10.1371/journal.pcbi.1005510" class="uri">https://doi.org/10.1371/journal.pcbi.1005510</a></p>
</div>
<div id="ref-wilson-opportunistic-combining-1992">
<p>[59] Gregory V. Wilson. 1992. Using opportunistic combining networks to reduce contention in multicomputers. In <em>Proc. Parallel architectures and languages europe (PARLE 1992)</em> (Lecture notes in computer science), Springer, 651–666.</p>
</div>
<div id="ref-wilson-practical-parallel-programming-1995">
<p>[60] Gregory V. Wilson. 1995. <em>Practical parallel programming</em>. MIT Press.</p>
</div>
<div id="ref-wilson-teach-1996">
<p>[61] Gregory V. Wilson. 1996. What should computer scientists teach to physical scientists and engineers? <em>IEEE Computational Science and Engineering</em> (1996).</p>
</div>
<div id="ref-wilson-performance-1999">
<p>[62] Gregory V. Wilson. 1999. High-performance programming for computational scientists. In <em>Proc. of high performance computing systems and applications 1999</em>.</p>
</div>
<div id="ref-wilson-extensible-2004">
<p>[63] Gregory V. Wilson. 2004. Extensible programming for the 21st century. <em>ACM Queue</em> 2, 9 (2004), 48–57.</p>
</div>
<div id="ref-wilson-hpc-harmful-2008">
<p>[64] Gregory V. Wilson. 2008. High-performance computing considered harmful. In <em>22nd annual international symposium on high performance computing systems and applications (HPCS 2008)</em>.</p>
</div>
<div id="ref-wilson-twelve-ways-1994">
<p>[65] Gregory V. Wilson, Brent Gorda, and Paul Lu. 1994. Twelve ways to make sure your parallel programming system doesn’t make others look bad. <em>IEEE Computer</em> 27, 10 (1994).</p>
</div>
<div id="ref-wilson-parallel-cplusplus-1996">
<p>[66] Gregory V. Wilson and Paul Lu (Eds.). 1996. <em>Parallel programming using c++</em>. MIT Press.</p>
</div>
<div id="ref-wilson-enterprise-usability-1993">
<p>[67] Gregory V. Wilson, Jonathan Schaeffer, and Duane Szafron. 1993. Enterprise in context: Assessing the usability of parallel programming environments. In <em>Proc. 1993 conference of the centre for advanced studies on collaborative research</em>, IBM, 999–1010.</p>
</div>
<div id="ref-winter-browser-2007">
<p>[68] D. Winter, B. Vinegar, H. Nahal, R. Ammar, G. V. Wilson, and N. J. Provart. 2007. An ’electronic fluorescent pictograph’ browser for exploring and analyzing large-scale biological data sets. <em>PLoS ONE</em> 2, 8 (2007).</p>
</div>
</div>
