<p id="Irving2021" class="bib"><span class="bibkey">Irving2021</span>
Damien Irving, Kate Hertweck, Luke Johnston, Joel Ostblom, Charlotte Wickham, and Greg Wilson:
<em><a href="https://merely-useful.github.io/py-rse/">Research Software Engineering with Python: Building Software that Makes Research Possible</a></em>.
CRC Press/Taylor and Francis, 2021, 978-0367698348.
</p>


<p id="Smalls2021" class="bib"><span class="bibkey">Smalls2021</span>
Danielle Smalls and Greg Wilson:
"<a href="https://doi.org/10.1371/journal.pcbi.1008563">Ten quick tips for staying safe online</a>".
<em>PLOS Computational Biology</em>, 17(3), 2021,
<a class="doi" href="https://doi.org/10.1371/journal.pcbi.1008563">10.1371/journal.pcbi.1008563</a>.
</p>


<p id="Wilson2021" class="bib"><span class="bibkey">Wilson2021</span>
Greg Wilson:
"And Should I Fall Behind".
<em>On Spec</em>, 31(1), 2021.
</p>


<p id="Lin2020" class="bib"><span class="bibkey">Lin2020</span>
Sarah Lin, Ibraheem Ali, and Greg Wilson:
"<a href="https://doi.org/10.1371/journal.pcbi.1008469">Ten quick tips for making things findable</a>".
<em>PLOS Computational Biology</em>, 16(12), 2020,
<a class="doi" href="https://doi.org/10.1371/journal.pcbi.1008469">10.1371/journal.pcbi.1008469</a>.
</p>


<p id="Nederbragt2020" class="bib"><span class="bibkey">Nederbragt2020</span>
Alexander Nederbragt, Rayna Michelle Harris, Alison Presmanes Hill, and Greg Wilson:
"<a href="https://doi.org/10.1371/journal.pcbi.1008090">Ten quick tips for teaching with participatory live coding</a>".
<em>PLOS Computational Biology</em>, 16(9), 2020,
<a class="doi" href="https://doi.org/10.1371/journal.pcbi.1008090">10.1371/journal.pcbi.1008090</a>.
</p>


<p id="Gans2020" class="bib"><span class="bibkey">Gans2020</span>
Maya Gans, Toby Hodges, and Greg Wilson:
<em><a href="http://js4ds.org">JavaScript for Data Science</a></em>.
Chapman &amp; Hall/CRC Press, 2020, 978-0367422486.
</p>


<p id="Wilson2019a" class="bib"><span class="bibkey">Wilson2019a</span>
Greg Wilson:
<em><a href="http://teachtogether.tech">Teaching Tech Together</a></em>.
Chapman &amp; Hall/CRC Press, 2019, 978-0367352974.
</p>


<p id="Wilson2019b" class="bib"><span class="bibkey">Wilson2019b</span>
Greg Wilson:
"<a href="https://doi.org/10.1371/journal.pcbi.1006915">Ten quick tips for creating an effective lesson</a>".
<em>PLOS Computational Biology</em>, 15(4), 2019,
<a class="doi" href="https://doi.org/10.1371/journal.pcbi.1006915">10.1371/journal.pcbi.1006915</a>.
</p>


<p id="Wilson2019c" class="bib"><span class="bibkey">Wilson2019c</span>
Greg Wilson:
"<a href="https://doi.org/10.1371/journal.pcbi.1007433">Ten quick tips for delivering programming lessons</a>".
<em>PLOS Computational Biology</em>, 15(10), 2019,
<a class="doi" href="https://doi.org/10.1371/journal.pcbi.1007433">10.1371/journal.pcbi.1007433</a>.
</p>


<p id="Denny2019" class="bib"><span class="bibkey">Denny2019</span>
Paul Denny, Brett A. Becker, Michelle Craig, Greg Wilson, and Piotr Banaszkiewicz:
"<a href="https://dl.acm.org/doi/abs/10.1145/3291279.3339402">Research This! Questions that Computing Educators Most Want Computing Education Researchers to Answer</a>".
<em>Proceedings of the 2019 ACM Conference on International Computing Education Research</em>, <a class="doi" href="https://doi.org/10.1145/3291279.3339402">10.1145/3291279.3339402</a>.
</p>


<p id="Sholler2019" class="bib"><span class="bibkey">Sholler2019</span>
Dan Sholler, Igor Steinmacher, Denae Ford, Mara Averick, Mike Hoye, and Greg Wilson:
"<a href="https://doi.org/10.1371/journal.pcbi.1007296">Ten simple rules for helping newcomers become contributors to open projects</a>".
<em>PLOS Computational Biology</em>, 15(9), 2019,
<a class="doi" href="https://doi.org/10.1371/journal.pcbi.1007296">10.1371/journal.pcbi.1007296</a>.
</p>


<p id="Brown2018" class="bib"><span class="bibkey">Brown2018</span>
Neil C.C. Brown and Greg Wilson:
"<a href="https://doi.org/10.1371/journal.pcbi.1006023">Ten Quick Tips for Teaching Programming</a>".
<em>PLOS Computational Biology</em>, 14(4), 2018,
<a class="doi" href="https://doi.org/10.1371/journal.pcbi.1006023">10.1371/journal.pcbi.1006023</a>.
</p>


<p id="Devenyi2018" class="bib"><span class="bibkey">Devenyi2018</span>
Gabriel A. Devenyi, Rémi Emonet, Rayna M. Harris, Kate L. Hertweck, Damien Irving, Ian Milligan, and Greg Wilson:
"<a href="https://doi.org/10.1371/journal.pcbi.1005963">Ten Simple Rules for Collaborative Lesson Development</a>".
<em>PLOS Computational Biology</em>, 14(3), 2018,
<a class="doi" href="https://doi.org/10.1371/journal.pcbi.1005963">10.1371/journal.pcbi.1005963</a>.
</p>


<p id="Almeida2017" class="bib"><span class="bibkey">Almeida2017</span>
Daniel A. Almeida, Gail C. Murphy, Greg Wilson, and Mike Hoye:
"<a href="https://doi.org/10.1109/ICPC.2017.7">Do Software Developers Understand Open Source Licenses?</a>".
<em>Proceedings of the 25th International Conference on Program Comprehension</em>, <a class="doi" href="https://doi.org/10.1109/ICPC.2017.7">10.1109/ICPC.2017.7</a>.
</p>


<p id="Taschuk2017" class="bib"><span class="bibkey">Taschuk2017</span>
Morgan Taschuk and Greg Wilson:
"Ten Simple Rules for Making Research Software More Robust".
<em>PLOS Computational Biology</em>, 13(4), 2017,
<a class="doi" href="https://doi.org/10.1371/journal.pcbi.1005412">10.1371/journal.pcbi.1005412</a>.
</p>


<p id="Wilson2017" class="bib"><span class="bibkey">Wilson2017</span>
Greg Wilson, Jennifer Bryan, Karen Cranston, Justin Kitzes, Lex Nederbragt, and Tracy K. Teal:
"<a href="https://doi.org/10.1371/journal.pcbi.1005510">Good Enough Practices in Scientific Computing</a>".
<em>PLoS Computational Biology</em>, 13(6), 2017,
<a class="doi" href="https://doi.org/10.1371/journal.pcbi.1005510">10.1371/journal.pcbi.1005510</a>.
</p>


<p id="Blischak2016" class="bib"><span class="bibkey">Blischak2016</span>
John D. Blischak, Emily R. Davenport, and Greg Wilson:
"<a href="http://dx.doi.org/10.1371/journal.pcbi.1004668">A Quick Introduction to Version Control with Git and GitHub</a>".
<em>PLOS Computational Biology</em>, 12(1), 2016,
<a class="doi" href="https://doi.org/10.1371/journal.pcbi.1004668">10.1371/journal.pcbi.1004668</a>.
</p>


<p id="Wilson2016" class="bib"><span class="bibkey">Wilson2016</span>
Greg Wilson:
"<a href="http://dx.doi.org/10.12688/f1000research.3-62.v2">Software Carpentry: lessons learned</a>".
<em>F1000Research</em>, 2016,
<a class="doi" href="https://doi.org/10.12688/f1000research.3-62.v2">10.12688/f1000research.3-62.v2</a>.
</p>


<p id="Teal2015" class="bib"><span class="bibkey">Teal2015</span>
Tracy K. Teal, Karen A. Cranston, Hilmar Lapp, Ethan White, Greg Wilson, Karthik Ram, and Aleksandra Pawlik:
"<a href="http://dx.doi.org/10.2218/ijdc.v10i1.351">Data Carpentry: Workshops to Increase Data Literacy for Researchers</a>".
<em>International Journal of Digital Curation</em>, 10(1), 2015,
<a class="doi" href="https://doi.org/10.2218/ijdc.v10i1.351">10.2218/ijdc.v10i1.351</a>.
</p>


<p id="Wilson2014" class="bib"><span class="bibkey">Wilson2014</span>
Greg Wilson, D. A. Aruliah, C. Titus Brown, Neil P. Chue Hong, Matt Davis, Richard T. Guy, Steven H. D. Haddock, Kathryn D. Huff, Ian M. Mitchell, Mark D. Plumbley, Ben Waugh, Ethan P. White, and Paul Wilson:
"Best Practices for Scientific Computing".
<em>PLoS Biology</em>, 12(1), 2014,
<a class="doi" href="https://doi.org/10.1371/journal.pbio.1001745">10.1371/journal.pbio.1001745</a>.
</p>


<p id="Petre2014" class="bib"><span class="bibkey">Petre2014</span>
Marian Petre and Greg Wilson:
"<a href="http://arxiv.org/abs/1407.5648">Code Review For and By Scientists</a>".
<em>Proc. Second Workshop on Sustainable Software for Science: Practice and Experience</em>, <a class="doi" href="https://doi.org/arXiv:1407.5648">arXiv:1407.5648</a>.
</p>


<p id="Schossau2014" class="bib"><span class="bibkey">Schossau2014</span>
Jory Schossau and Greg Wilson:
"<a href="http://arxiv.org/abs/1407.6220">Which Sustainable Software Practices Do Scientists Find Most Useful?</a>".
<em>Proc. Second Workshop on Sustainable Software for Science: Practice and Experience</em>, <a class="doi" href="https://doi.org/arXiv:1407.6220">arXiv:1407.6220</a>.
</p>


<p id="Brown2012" class="bib"><span class="bibkey">Brown2012</span>
Amy Brown and Greg Wilson (eds.):
<em>The Architecture of Open Source Applications: Structure, Scale, and a Few More Fearless Hacks</em>.
Lulu, 2012, 978-0201103427.
</p>


<p id="Stroulia2011" class="bib"><span class="bibkey">Stroulia2011</span>
Eleni Stroulia, Ken Bauer, Michelle Craig, Karen Reid, and Greg Wilson:
"Teaching Distributed Software Engineering with UCOSP: The Undergraduate Capstone Open-Source Project".
<em>Workshop on Collaborative Teaching of Globally Distributed Software Development, co-located with ICSE 2011</em>.
</p>


<p id="Brown2011" class="bib"><span class="bibkey">Brown2011</span>
Amy Brown and Greg Wilson (eds.):
<em>The Architecture of Open Source Applications: Elegance, Evolution, and a Few Fearless Hacks</em>.
Lulu, 2011, 978-1257638017.
</p>


<p id="Oram2010" class="bib"><span class="bibkey">Oram2010</span>
Andy Oram and Greg Wilson (eds.):
<em>Making Software: What Really Works, and Why We Believe It</em>.
O'Reilly, 2010, 0-596-80832-1.
</p>


<p id="Wilson2010" class="bib"><span class="bibkey">Wilson2010</span>
Greg Wilson:
"Still".
<em>On Spec</em>, 22(2), 2010.
</p>


<p id="Hannay2009" class="bib"><span class="bibkey">Hannay2009</span>
Jo Erskine Hannay, Carolyn MacLeod, Janice Singer, Hans Petter Langtangen, Dietmar Pfahl, and Greg Wilson:
"<a href="http://dx.doi.org/10.1109/secse.2009.5069155">How do scientists develop and use scientific software?</a>".
<em>2009 ICSE Workshop on Software Engineering for Computational Science and Engineering</em>, <a class="doi" href="https://doi.org/10.1109/secse.2009.5069155">10.1109/secse.2009.5069155</a>.
</p>


<p id="Wilson2009a" class="bib"><span class="bibkey">Wilson2009a</span>
Greg Wilson:
"<a href="http://dx.doi.org/10.1109/ms.2009.75">Not on the Shelves</a>".
<em>IEEE Softw.</em>, 26(3), 2009,
<a class="doi" href="https://doi.org/10.1109/ms.2009.75">10.1109/ms.2009.75</a>.
</p>


<p id="Wilson2009b" class="bib"><span class="bibkey">Wilson2009b</span>
Greg Wilson:
"<a href="http://dx.doi.org/10.1511/2009.80.360">How Do Scientists Really Use Computers?</a>".
<em>American Scientist</em>, 97(5), 2009,
<a class="doi" href="https://doi.org/10.1511/2009.80.360">10.1511/2009.80.360</a>.
</p>


<p id="Campbell2009" class="bib"><span class="bibkey">Campbell2009</span>
Jennifer Campbell, Paul Gries, Jason Montojo, and Greg Wilson:
<em>Practical Programming</em>.
Pragmatic Bookshelf, 2009, 1934356271.
</p>


<p id="Cabot2009" class="bib"><span class="bibkey">Cabot2009</span>
Jordi Cabot and Greg Wilson:
"Tools for Teams: A Survey of Web-Based Software Project Portals".
<em>Doctor Dobb's Journal</em>, 2009.
</p>


<p id="Matthews2008" class="bib"><span class="bibkey">Matthews2008</span>
David Matthews, Greg Wilson, and Steve Easterbrook:
"<a href="http://dx.doi.org/10.1109/mcse.2008.144">Configuration Management for Large-Scale Scientific Computing at the UK Met Office</a>".
<em>Computing in Science and Engineering</em>, 10(6), 2008,
<a class="doi" href="https://doi.org/10.1109/mcse.2008.144">10.1109/mcse.2008.144</a>.
</p>


<p id="Wilson2008a" class="bib"><span class="bibkey">Wilson2008a</span>
Greg Wilson:
"<a href="http://dx.doi.org/10.1109/mcse.2008.86">Those Who Will Not Learn From History…</a>".
<em>Computing in Science and Engineering</em>, 10(3), 2008,
<a class="doi" href="https://doi.org/10.1109/mcse.2008.86">10.1109/mcse.2008.86</a>.
</p>


<p id="Wilson2008b" class="bib"><span class="bibkey">Wilson2008b</span>
Greg Wilson, Christine Alvarado, Jennifer Campbell, Rubin Landau, and Robert Sedgewick:
"<a href="http://dx.doi.org/10.1145/1352322.1352151">CS-1 for scientists</a>".
<em>SIGCSE Bulletin</em>, 40(1), 2008,
<a class="doi" href="https://doi.org/10.1145/1352322.1352151">10.1145/1352322.1352151</a>.
</p>


<p id="Wilson2008c" class="bib"><span class="bibkey">Wilson2008c</span>
Greg Wilson:
<em>Bottle of Light</em>.
Scholastic, 2008, 978-0779183784.
</p>


<p id="Wilson2008d" class="bib"><span class="bibkey">Wilson2008d</span>
Gregory V. Wilson:
"High-Performance Computing Considered Harmful".
<em>22nd Annual International Symposium on High Performance Computing Systems and Applications (HPCS 2008)</em>.
</p>


<p id="Lung2008" class="bib"><span class="bibkey">Lung2008</span>
Jonathan Lung, Jorge Aranda, Steve M. Easterbrook, and Gregory V. Wilson:
"On the Difficulty of Replicating Human Subjects Studies in Software Engineering".
<em>Proc. 30th International Conference on Software Engineering (ICSE 2008)</em>.
</p>


<p id="Aranda2007" class="bib"><span class="bibkey">Aranda2007</span>
Jorge Aranda, Steve Easterbrook, and Greg Wilson:
"<a href="http://dx.doi.org/10.1109/re.2007.54">Requirements in the Wild: How Small Companies Do It</a>".
<em>15th IEEE International Requirements Engineering Conference (RE 2007)</em>, <a class="doi" href="https://doi.org/10.1109/re.2007.54">10.1109/re.2007.54</a>.
</p>


<p id="Winter2007" class="bib"><span class="bibkey">Winter2007</span>
D. Winter, B. Vinegar, H. Nahal, R. Ammar, G. V. Wilson, and N. J. Provart:
"An 'Electronic Fluorescent Pictograph' Browser for Exploring and Analyzing Large-Scale Biological Data Sets".
<em>PLoS ONE</em>, 2(8), 2007.
</p>


<p id="Oram2007" class="bib"><span class="bibkey">Oram2007</span>
Andy Oram and Greg Wilson (eds.):
<em>Beautiful Code: Leading Programmers Explain How They Think</em>.
O'Reilly, 2007, 0-596-51004-7.
</p>


<p id="Wilson2007a" class="bib"><span class="bibkey">Wilson2007a</span>
Greg Wilson:
"...But With a Whimper".
<em>On Spec</em>, 19(3), 2007.
</p>


<p id="Wilson2007b" class="bib"><span class="bibkey">Wilson2007b</span>
Greg Wilson:
"Controlled Release".
<em>On Spec</em>, 19(4), 2007.
</p>


<p id="Reid2007" class="bib"><span class="bibkey">Reid2007</span>
Karen L. Reid and Gregory V. Wilson:
"DrProject: a software project management portal to meet educational needs".
<em>Proc. 38th SIGCSE Technical Symposium on Computer Science Education</em>.
</p>


<p id="Wilson2006" class="bib"><span class="bibkey">Wilson2006</span>
Greg Wilson:
"Where's the Real Bottleneck in Scientific Computing?".
<em>American Scientist</em>, 2006.
</p>


<p id="Mierle2005" class="bib"><span class="bibkey">Mierle2005</span>
Keir Mierle, Kevin Laven, Sam Roweis, and Greg Wilson:
"<a href="http://dx.doi.org/10.1145/1082983.1083150">Mining student CVS repositories for performance indicators</a>".
<em>SIGSOFT Software Engineering Notes</em>, 30(4), 2005,
<a class="doi" href="https://doi.org/10.1145/1082983.1083150">10.1145/1082983.1083150</a>.
</p>


<p id="Reid2005" class="bib"><span class="bibkey">Reid2005</span>
Karen L. Reid and Gregory V. Wilson:
"Learning by doing: introducing version control as a way to manage student assignments".
<em>Proc. 36th SIGCSE Technical Symposium on Computer Science Education</em>.
</p>


<p id="Gries2005" class="bib"><span class="bibkey">Gries2005</span>
Paul Gries, Volodymyr Mnih, Jonathan Taylor, Greg Wilson, and Lee Zamparo:
"Memview: A Pedagogically-Motivated Visual Debugger".
<em>Proc. ASEE/IEEE Frontiers in Education 2005</em>.
</p>


<p id="Wilson2005a" class="bib"><span class="bibkey">Wilson2005a</span>
Greg Wilson:
<em>Data Crunching: Solve Everyday Problems Using Java, Python, and More</em>.
Pragmatic Bookshelf, 2005, 0-9745140-7-1.
</p>


<p id="Wilson2005b" class="bib"><span class="bibkey">Wilson2005b</span>
Greg Wilson:
"Open Source Offers Solutions for Science Software Education".
<em>Nature</em>, 436, 2005.
</p>


<p id="Wilson2004" class="bib"><span class="bibkey">Wilson2004</span>
Gregory V. Wilson:
"Extensible Programming for the 21st Century".
<em>ACM Queue</em>, 2(9), 2004.
</p>


<p id="Levesque2004" class="bib"><span class="bibkey">Levesque2004</span>
Michelle Levesque and Greg Wilson:
"Open Source, Cold Shoulder".
<em>Software Development</em>, 2004.
</p>


<p id="Wilson2003" class="bib"><span class="bibkey">Wilson2003</span>
Greg Wilson:
"XML-Based Programming Systems".
<em>Doctor Dobb's Journal</em>, 2003.
</p>


<p id="Amdur2002" class="bib"><span class="bibkey">Amdur2002</span>
Gene Amdur, Andrew Flint, Irving Reid, and Greg Wilson:
"SelectAccess: Extensible Network Access Control".
<em>Doctor Dobb's Journal</em>, 2002.
</p>


<p id="Beckman2000" class="bib"><span class="bibkey">Beckman2000</span>
Pete Beckman and Greg Wilson:
"Open Source Meets Big Iron".
<em>Doctor Dobb's Journal</em>, 2000.
</p>


<p id="Webb1999" class="bib"><span class="bibkey">Webb1999</span>
Peter Webb and Greg Wilson:
"MATLAB as a Scripting Language".
<em>Doctor Dobb's Journal</em>, 1999.
</p>


<p id="Wilson1999a" class="bib"><span class="bibkey">Wilson1999a</span>
Gregory V. Wilson:
"High-Performance Programming for Computational Scientists".
<em>Proc. of High Performance Computing Systems and Applications 1999</em>.
</p>


<p id="Wilson1999b" class="bib"><span class="bibkey">Wilson1999b</span>
Greg Wilson:
"Is the Open Source Community Setting a Bad Example?".
<em>IEEE Software</em>, 16(1), 1999.
</p>


<p id="Wilson1999c" class="bib"><span class="bibkey">Wilson1999c</span>
Greg Wilson:
<em>Three Sensible Adventures</em>.
Annick Press, 1999, 978-1550375992.
</p>


<p id="DeSimone1998" class="bib"><span class="bibkey">DeSimone1998</span>
Mauricio de Simone and Greg Wilson:
"The Active Expressions library".
<em>Doctor Dobb's Journal</em>, 1998.
</p>


<p id="Gorda1997" class="bib"><span class="bibkey">Gorda1997</span>
Brent Gorda and Greg Wilson:
"Building and Running Online Auctions".
<em>Doctor Dobb's Journal</em>, 1997.
</p>


<p id="VanDerGroot1997" class="bib"><span class="bibkey">VanDerGroot1997</span>
Roel van der Goot, Jonathan Schaeffer, and Gregory V. Wilson:
"Safer Tuple Spaces".
<em>Second International Conference on Coordination Languages and Models (COORDINATION 1997)</em>.
</p>


<p id="Arjomandi1996" class="bib"><span class="bibkey">Arjomandi1996</span>
Eshrat Arjomandi, William G. O'Farrell, and Gregory V. Wilson:
"Smart Messages: An Object-Oriented Communication Mechanism for Parallel Systems".
<em>Computing Systems</em>, 9(4), 1996.
</p>


<p id="Wilson1996a" class="bib"><span class="bibkey">Wilson1996a</span>
Gregory V. Wilson and Paul Lu (eds.):
<em>Parallel Programming Using C++</em>.
MIT Press, 1996, 0-262-73118-5.
</p>


<p id="Wilson1996b" class="bib"><span class="bibkey">Wilson1996b</span>
Gregory V. Wilson:
"What Should Computer Scientists Teach to Physical Scientists and Engineers?".
<em>IEEE Computational Science and Engineering</em>, 1996.
</p>


<p id="Hyde1995" class="bib"><span class="bibkey">Hyde1995</span>
Daniel C. Hyde, David Kotz, Gordon Makinson, Panagiotis Takis Metaxas, Christopher H. Nevison, Nan C. Schaller, and Gregory V. Wilson:
"Different Approaches to Parallel Computing Education".
<em>Proc. 9th International Parallel Processing Symposium</em>.
</p>


<p id="Wilson1995" class="bib"><span class="bibkey">Wilson1995</span>
Gregory V. Wilson:
<em>Practical Parallel Programming</em>.
MIT Press, 1995, 0-262-23186-7.
</p>


<p id="Wilson1994" class="bib"><span class="bibkey">Wilson1994</span>
Gregory V. Wilson, Brent Gorda, and Paul Lu:
"Twelve Ways to Make Sure Your Parallel Programming System Doesn't Make Others Look Bad".
<em>IEEE Computer</em>, 27(10), 1994.
</p>


<p id="Wilson1993" class="bib"><span class="bibkey">Wilson1993</span>
Gregory V. Wilson, Jonathan Schaeffer, and Duane Szafron:
"Enterprise in Context: Assessing the Usability of Parallel Programming Environments".
<em>Proc. 1993 Conference of the Centre for Advanced Studies on Collaborative Research</em>.
</p>


<p id="Wilson1992" class="bib"><span class="bibkey">Wilson1992</span>
Gregory V. Wilson:
"Using Opportunistic Combining Networks to Reduce Contention in Multicomputers".
<em>Proc. Parallel Architectures and Languages Europe (PARLE 1992)</em>.
</p>


<p id="Clarke1991" class="bib"><span class="bibkey">Clarke1991</span>
Lyndon Clarke and Greg Wilson:
"<a href="http://dx.doi.org/10.1002/cpe.4330030307">Tiny: An efficient routing harness for the Inmos transputer</a>".
<em>Concurrency: Practice &amp; Experience</em>, 3(3), 1991,
<a class="doi" href="https://doi.org/10.1002/cpe.4330030307">10.1002/cpe.4330030307</a>.
</p>


<p id="Trew1991" class="bib"><span class="bibkey">Trew1991</span>
Arthur Trew and Greg Wilson (eds.):
<em><a href="http://dx.doi.org/10.1007/978-1-4471-1842-8">Past, Present, Parallel</a></em>.
Springer, 1991, 978-3540196648.
</p>

