<dl class="bibliography">

<dt id="Wilson2022">Wilson2022</dt>
<dd>Greg Wilson.
Twelve quick tips for software design.
<em><span class="bibtex-protected">PLOS</span> Computational Biology</em>, 18(2):e1009809, 2 2022.
URL: <a href="https://doi.org/10.1371/journal.pcbi.1009809">https://doi.org/10.1371/journal.pcbi.1009809</a>, <a href="https://doi.org/10.1371/journal.pcbi.1009809">doi:10.1371/journal.pcbi.1009809</a>.</dd>

<dt id="Irving2021">Irving2021</dt>
<dd>Damien Irving, Kate Hertweck, Luke Johnston, Joel Ostblom, Charlotte Wickham, and Greg Wilson.
<em>Research Software Engineering with Python: Building Software that Makes Research Possible</em>.
CRC Press/Taylor and Francis, 2021.
ISBN 978-0367698348.</dd>

<dt id="Smalls2021">Smalls2021</dt>
<dd>Danielle Smalls and Greg Wilson.
Ten quick tips for staying safe online.
<em><span class="bibtex-protected">PLOS</span> Computational Biology</em>, 17(3):e1008563, 3 2021.
URL: <a href="https://doi.org/10.1371/journal.pcbi.1008563">https://doi.org/10.1371/journal.pcbi.1008563</a>, <a href="https://doi.org/10.1371/journal.pcbi.1008563">doi:10.1371/journal.pcbi.1008563</a>.</dd>

<dt id="Wilson2021">Wilson2021</dt>
<dd>Greg Wilson.
And should <span class="bibtex-protected">I</span> fall behind.
<em>On Spec</em>, Winter 2021.</dd>

<dt id="Wilson2020">Wilson2020</dt>
<dd>Greg Wilson.
Thoughts from a not-so-influential educator.
<em><span class="bibtex-protected">ACM</span> <span class="bibtex-protected">SIGSOFT</span> Software Engineering Notes</em>, 45(3):21–22, July 2020.
URL: <a href="https://doi.org/10.1145/3402127.3402136">https://doi.org/10.1145/3402127.3402136</a>, <a href="https://doi.org/10.1145/3402127.3402136">doi:10.1145/3402127.3402136</a>.</dd>

<dt id="Lin2020">Lin2020</dt>
<dd>Sarah Lin, Ibraheem Ali, and Greg Wilson.
Ten quick tips for making things findable.
<em><span class="bibtex-protected">PLOS</span> Computational Biology</em>, 16(12):e1008469, 12 2020.
URL: <a href="https://doi.org/10.1371/journal.pcbi.1008469">https://doi.org/10.1371/journal.pcbi.1008469</a>, <a href="https://doi.org/10.1371/journal.pcbi.1008469">doi:10.1371/journal.pcbi.1008469</a>.</dd>

<dt id="Nederbragt2020">Nederbragt2020</dt>
<dd>Alexander Nederbragt, Rayna&nbsp;Michelle Harris, Alison&nbsp;Presmanes Hill, and Greg Wilson.
Ten quick tips for teaching with participatory live coding.
<em><span class="bibtex-protected">PLOS</span> Computational Biology</em>, 16(9):e1008090, 9 2020.
URL: <a href="https://doi.org/10.1371/journal.pcbi.1008090">https://doi.org/10.1371/journal.pcbi.1008090</a>, <a href="https://doi.org/10.1371/journal.pcbi.1008090">doi:10.1371/journal.pcbi.1008090</a>.</dd>

<dt id="Gans2020">Gans2020</dt>
<dd>Maya Gans, Toby Hodges, and Greg Wilson.
<em>JavaScript for Data Science</em>.
Chapman &amp; Hall/CRC Press, 2020.
ISBN 978-0367422486.</dd>

<dt id="Wilson2019a">Wilson2019a</dt>
<dd>Greg Wilson.
<em>Teaching Tech Together</em>.
Chapman &amp; Hall/CRC Press, 2019.
ISBN 978-0367352974.
How to create and deliver lessons that work and build a teaching community around them.</dd>

<dt id="Wilson2019b">Wilson2019b</dt>
<dd>Greg Wilson.
Ten quick tips for creating an effective lesson.
<em><span class="bibtex-protected">PLOS</span> Computational Biology</em>, 15(4):e1006915, 4 2019.
URL: <a href="https://doi.org/10.1371/journal.pcbi.1006915">https://doi.org/10.1371/journal.pcbi.1006915</a>, <a href="https://doi.org/10.1371/journal.pcbi.1006915">doi:10.1371/journal.pcbi.1006915</a>.</dd>

<dt id="Wilson2019c">Wilson2019c</dt>
<dd>Greg Wilson.
Ten quick tips for delivering programming lessons.
<em><span class="bibtex-protected">PLOS</span> Computational Biology</em>, 15(10):e1007433, October 2019.
URL: <a href="https://doi.org/10.1371/journal.pcbi.1007433">https://doi.org/10.1371/journal.pcbi.1007433</a>, <a href="https://doi.org/10.1371/journal.pcbi.1007433">doi:10.1371/journal.pcbi.1007433</a>.</dd>

<dt id="Denny2019">Denny2019</dt>
<dd>Paul Denny, Brett&nbsp;A. Becker, Michelle Craig, Greg Wilson, and Piotr Banaszkiewicz.
Research this! questions that computing educators most want computing education researchers to answer.
In <em>Proceedings of the 2019 ACM Conference on International Computing Education Research</em>. <span class="bibtex-protected">ACM</span>, 2019.
URL: <a href="https://dl.acm.org/doi/abs/10.1145/3291279.3339402">https://dl.acm.org/doi/abs/10.1145/3291279.3339402</a>, <a href="https://doi.org/10.1145/3291279.3339402">doi:10.1145/3291279.3339402</a>.</dd>

<dt id="Sholler2019">Sholler2019</dt>
<dd>Dan Sholler, Igor Steinmacher, Denae Ford, Mara Averick, Mike Hoye, and Greg Wilson.
Ten simple rules for helping newcomers become contributors to open projects.
<em><span class="bibtex-protected">PLOS</span> Computational Biology</em>, 15(9):e1007296, 9 2019.
URL: <a href="https://doi.org/10.1371/journal.pcbi.1007296">https://doi.org/10.1371/journal.pcbi.1007296</a>, <a href="https://doi.org/10.1371/journal.pcbi.1007296">doi:10.1371/journal.pcbi.1007296</a>.</dd>

<dt id="Brown2018">Brown2018</dt>
<dd>Neil&nbsp;C.C. Brown and Greg Wilson.
Ten quick tips for teaching programming.
<em><span class="bibtex-protected">PLOS</span> Computational Biology</em>, April 2018.
URL: <a href="https://doi.org/10.1371/journal.pcbi.1006023">https://doi.org/10.1371/journal.pcbi.1006023</a>, <a href="https://doi.org/10.1371/journal.pcbi.1006023">doi:10.1371/journal.pcbi.1006023</a>.</dd>

<dt id="Devenyi2018">Devenyi2018</dt>
<dd>Gabriel&nbsp;A. Devenyi, Rémi Emonet, Rayna&nbsp;M. Harris, Kate&nbsp;L. Hertweck, Damien Irving, Ian Milligan, and Greg Wilson.
Ten simple rules for collaborative lesson development.
<em><span class="bibtex-protected">PLOS</span> Computational Biology</em>, March 2018.
URL: <a href="https://doi.org/10.1371/journal.pcbi.1005963">https://doi.org/10.1371/journal.pcbi.1005963</a>, <a href="https://doi.org/10.1371/journal.pcbi.1005963">doi:10.1371/journal.pcbi.1005963</a>.</dd>

<dt id="Almeida2017">Almeida2017</dt>
<dd>Daniel&nbsp;A. Almeida, Gail&nbsp;C. Murphy, Greg Wilson, and Mike Hoye.
Do software developers understand open source licenses?
In <em>Proceedings of the 25th International Conference on Program Comprehension</em>, 1–11. <span class="bibtex-protected">IEEE</span> Press, 2017.
URL: <a href="https://doi.org/10.1109/ICPC.2017.7">https://doi.org/10.1109/ICPC.2017.7</a>, <a href="https://doi.org/10.1109/ICPC.2017.7">doi:10.1109/ICPC.2017.7</a>.</dd>

<dt id="Taschuk2017">Taschuk2017</dt>
<dd>Morgan Taschuk and Greg Wilson.
Ten simple rules for making research software more robust.
<em><span class="bibtex-protected">PLOS</span> Computational Biology</em>, April 2017.
<a href="https://doi.org/10.1371/journal.pcbi.1005412">doi:10.1371/journal.pcbi.1005412</a>.</dd>

<dt id="Wilson2017">Wilson2017</dt>
<dd>Greg Wilson, Jennifer Bryan, Karen Cranston, Justin Kitzes, Lex Nederbragt, and Tracy&nbsp;K. Teal.
Good enough practices in scientific computing.
<em><span class="bibtex-protected">PLoS</span> Computational Biology</em>, 13(6):1&ndash;20, 06 2017.
<a href="https://doi.org/10.1371/journal.pcbi.1005510">doi:10.1371/journal.pcbi.1005510</a>.</dd>

<dt id="Blischak2016">Blischak2016</dt>
<dd>John&nbsp;D. Blischak, Emily&nbsp;R. Davenport, and Greg Wilson.
A quick introduction to version control with git and <span class="bibtex-protected">GitHub</span>.
<em><span class="bibtex-protected">PLOS</span> Computational Biology</em>, 12(1):e1004668, January 2016.
URL: <a href="http://dx.doi.org/10.1371/journal.pcbi.1004668">http://dx.doi.org/10.1371/journal.pcbi.1004668</a>, <a href="https://doi.org/10.1371/journal.pcbi.1004668">doi:10.1371/journal.pcbi.1004668</a>.</dd>

<dt id="Wilson2016">Wilson2016</dt>
<dd>Greg Wilson.
Software carpentry: lessons learned.
<em><span class="bibtex-protected">F1000Research</span></em>, January 2016.
URL: <a href="http://dx.doi.org/10.12688/f1000research.3-62.v2">http://dx.doi.org/10.12688/f1000research.3-62.v2</a>, <a href="https://doi.org/10.12688/f1000research.3-62.v2">doi:10.12688/f1000research.3-62.v2</a>.</dd>

<dt id="Teal2015">Teal2015</dt>
<dd>Tracy&nbsp;K. Teal, Karen&nbsp;A. Cranston, Hilmar Lapp, Ethan White, Greg Wilson, Karthik Ram, and Aleksandra Pawlik.
Data carpentry: workshops to increase data literacy for researchers.
<em>International Journal of Digital Curation</em>, February 2015.
URL: <a href="http://dx.doi.org/10.2218/ijdc.v10i1.351">http://dx.doi.org/10.2218/ijdc.v10i1.351</a>, <a href="https://doi.org/10.2218/ijdc.v10i1.351">doi:10.2218/ijdc.v10i1.351</a>.</dd>

<dt id="Wilson2014">Wilson2014</dt>
<dd>Greg Wilson, D.&nbsp;A. Aruliah, C.&nbsp;Titus Brown, Neil P.&nbsp;Chue Hong, Matt Davis, Richard&nbsp;T. Guy, Steven H.&nbsp;D. Haddock, Kathryn&nbsp;D. Huff, Ian&nbsp;M. Mitchell, Mark&nbsp;D. Plumbley, Ben Waugh, Ethan&nbsp;P. White, and Paul Wilson.
Best practices for scientific computing.
<em><span class="bibtex-protected">PLoS Biology</span></em>, January 2014.
<a href="https://doi.org/10.1371/journal.pbio.1001745">doi:10.1371/journal.pbio.1001745</a>.</dd>

<dt id="Petre2014">Petre2014</dt>
<dd>Marian Petre and Greg Wilson.
Code review for and by scientists.
In <em>Proc. Second Workshop on Sustainable Software for Science: Practice and Experience</em>. 2014.
URL: <a href="http://arxiv.org/abs/1407.5648">http://arxiv.org/abs/1407.5648</a>, <a href="https://doi.org/arXiv:1407.5648">doi:arXiv:1407.5648</a>.</dd>

<dt id="Schossau2014">Schossau2014</dt>
<dd>Jory Schossau and Greg Wilson.
Which sustainable software practices do scientists find most useful?
In <em>Proc. Second Workshop on Sustainable Software for Science: Practice and Experience</em>. 2014.
URL: <a href="http://arxiv.org/abs/1407.6220">http://arxiv.org/abs/1407.6220</a>, <a href="https://doi.org/arXiv:1407.6220">doi:arXiv:1407.6220</a>.</dd>

<dt id="Brown2012">Brown2012</dt>
<dd>Amy Brown and Greg Wilson, editors.
<em>The Architecture of Open Source Applications: Structure, Scale, and a Few More Fearless Hacks</em>.
Lulu, 2012.
ISBN 978-0201103427.</dd>

<dt id="Stroulia2011">Stroulia2011</dt>
<dd>Eleni Stroulia, Ken Bauer, Michelle Craig, Karen Reid, and Greg Wilson.
Teaching distributed software engineering with <span class="bibtex-protected">UCOSP</span>: the undergraduate capstone open-source project.
In <em>Workshop on Collaborative Teaching of Globally Distributed Software Development, co-located with <span class="bibtex-protected">ICSE</span> 2011</em>. 2011.</dd>

<dt id="Brown2011">Brown2011</dt>
<dd>Amy Brown and Greg Wilson, editors.
<em>The Architecture of Open Source Applications: Elegance, Evolution, and a Few Fearless Hacks</em>.
Lulu, 2011.
ISBN 978-1257638017.</dd>

<dt id="Oram2010">Oram2010</dt>
<dd>Andy Oram and Greg Wilson, editors.
<em>Making Software: What Really Works, and Why We Believe It</em>.
O'Reilly, 2010.
ISBN 0-596-80832-1.</dd>

<dt id="Wilson2010">Wilson2010</dt>
<dd>Greg Wilson.
Still.
<em>On Spec</em>, Summer 2010.</dd>

<dt id="Hannay2009">Hannay2009</dt>
<dd>Jo&nbsp;Erskine Hannay, Carolyn MacLeod, Janice Singer, Hans&nbsp;Petter Langtangen, Dietmar Pfahl, and Greg Wilson.
How do scientists develop and use scientific software?
In <em>2009 <span class="bibtex-protected">ICSE</span> Workshop on Software Engineering for Computational Science and Engineering</em>. Institute of Electrical <span class="bibtex-protected">&amp;</span> Electronics Engineers (<span class="bibtex-protected">IEEE</span>), May 2009.
URL: <a href="http://dx.doi.org/10.1109/secse.2009.5069155">http://dx.doi.org/10.1109/secse.2009.5069155</a>, <a href="https://doi.org/10.1109/secse.2009.5069155">doi:10.1109/secse.2009.5069155</a>.</dd>

<dt id="Wilson2009a">Wilson2009a</dt>
<dd>Greg Wilson.
Not on the shelves.
<em><span class="bibtex-protected">IEEE</span> Softw.</em>, 26(3):8–9, May 2009.
URL: <a href="http://dx.doi.org/10.1109/ms.2009.75">http://dx.doi.org/10.1109/ms.2009.75</a>, <a href="https://doi.org/10.1109/ms.2009.75">doi:10.1109/ms.2009.75</a>.</dd>

<dt id="Wilson2009b">Wilson2009b</dt>
<dd>Greg Wilson.
How do scientists really use computers?
<em>American Scientist</em>, 97(5):360, September/October 2009.
URL: <a href="http://dx.doi.org/10.1511/2009.80.360">http://dx.doi.org/10.1511/2009.80.360</a>, <a href="https://doi.org/10.1511/2009.80.360">doi:10.1511/2009.80.360</a>.</dd>

<dt id="Campbell2009">Campbell2009</dt>
<dd>Jennifer Campbell, Paul Gries, Jason Montojo, and Greg Wilson.
<em>Practical Programming</em>.
Pragmatic Bookshelf, 2009.
ISBN 1934356271.</dd>

<dt id="Cabot2009">Cabot2009</dt>
<dd>Jordi Cabot and Greg Wilson.
Tools for teams: a survey of web-based software project portals.
<em>Doctor Dobb's Journal</em>, October 2009.</dd>

<dt id="Matthews2008">Matthews2008</dt>
<dd>David Matthews, Greg Wilson, and Steve Easterbrook.
Configuration management for large-scale scientific computing at the <span class="bibtex-protected">UK</span> met office.
<em>Computing in Science and Engineering</em>, 10(6):56–64, November 2008.
URL: <a href="http://dx.doi.org/10.1109/mcse.2008.144">http://dx.doi.org/10.1109/mcse.2008.144</a>, <a href="https://doi.org/10.1109/mcse.2008.144">doi:10.1109/mcse.2008.144</a>.</dd>

<dt id="Wilson2008a">Wilson2008a</dt>
<dd>Greg Wilson.
Those who will not learn from history<span class="bibtex-protected">…</span>.
<em>Computing in Science and Engineering</em>, 10(3):5–6, May 2008.
URL: <a href="http://dx.doi.org/10.1109/mcse.2008.86">http://dx.doi.org/10.1109/mcse.2008.86</a>, <a href="https://doi.org/10.1109/mcse.2008.86">doi:10.1109/mcse.2008.86</a>.</dd>

<dt id="Wilson2008b">Wilson2008b</dt>
<dd>Greg Wilson, Christine Alvarado, Jennifer Campbell, Rubin Landau, and Robert Sedgewick.
<span class="bibtex-protected">CS</span>-1 for scientists.
<em><span class="bibtex-protected">SIGCSE</span> Bulletin</em>, 40(1):36, February 2008.
URL: <a href="http://dx.doi.org/10.1145/1352322.1352151">http://dx.doi.org/10.1145/1352322.1352151</a>, <a href="https://doi.org/10.1145/1352322.1352151">doi:10.1145/1352322.1352151</a>.</dd>

<dt id="Wilson2008c">Wilson2008c</dt>
<dd>Greg Wilson.
<em>Bottle of Light</em>.
Scholastic, 2008.
ISBN 978-0779183784.</dd>

<dt id="Wilson2008d">Wilson2008d</dt>
<dd>Gregory&nbsp;V. Wilson.
High-performance computing considered harmful.
In <em>22nd Annual International Symposium on High Performance Computing Systems and Applications (<span class="bibtex-protected">HPCS</span> 2008)</em>. 2008.</dd>

<dt id="Lung2008">Lung2008</dt>
<dd>Jonathan Lung, Jorge Aranda, Steve&nbsp;M. Easterbrook, and Gregory&nbsp;V. Wilson.
On the difficulty of replicating human subjects studies in software engineering.
In <em>Proc. 30th International Conference on Software Engineering (<span class="bibtex-protected">ICSE</span> 2008)</em>, 191–200. Association for Computing Machinery (<span class="bibtex-protected">ACM</span>), 2008.</dd>

<dt id="Aranda2007">Aranda2007</dt>
<dd>Jorge Aranda, Steve Easterbrook, and Greg Wilson.
Requirements in the wild: how small companies do it.
In <em>15th <span class="bibtex-protected">IEEE</span> International Requirements Engineering Conference (<span class="bibtex-protected">RE</span> 2007)</em>. Institute of Electrical <span class="bibtex-protected">&amp;</span> Electronics Engineers (<span class="bibtex-protected">IEEE</span>), October 2007.
URL: <a href="http://dx.doi.org/10.1109/re.2007.54">http://dx.doi.org/10.1109/re.2007.54</a>, <a href="https://doi.org/10.1109/re.2007.54">doi:10.1109/re.2007.54</a>.</dd>

<dt id="Winter2007">Winter2007</dt>
<dd>D.&nbsp;Winter, B.&nbsp;Vinegar, H.&nbsp;Nahal, R.&nbsp;Ammar, G.&nbsp;V. Wilson, and N.&nbsp;J. Provart.
An 'electronic fluorescent pictograph' browser for exploring and analyzing large-scale biological data sets.
<em><span class="bibtex-protected">PLoS</span> ONE</em>, 2007.</dd>

<dt id="Oram2007">Oram2007</dt>
<dd>Andy Oram and Greg Wilson, editors.
<em>Beautiful Code: Leading Programmers Explain How They Think</em>.
O'Reilly, 2007.
ISBN 0-596-51004-7.</dd>

<dt id="Wilson2007a">Wilson2007a</dt>
<dd>Greg Wilson.
...but with a whimper.
<em>On Spec</em>, Fall 2007.</dd>

<dt id="Wilson2007b">Wilson2007b</dt>
<dd>Greg Wilson.
<span class="bibtex-protected">Controlled Release</span>.
<em>On Spec</em>, Winter 2007.</dd>

<dt id="Reid2007">Reid2007</dt>
<dd>Karen&nbsp;L. Reid and Gregory&nbsp;V. Wilson.
<span class="bibtex-protected">DrProject</span>: a software project management portal to meet educational needs.
In <em>Proc. 38th SIGCSE Technical Symposium on Computer Science Education</em>, 317–321. Association for Computing Machinery (<span class="bibtex-protected">ACM</span>), 2007.</dd>

<dt id="Wilson2006">Wilson2006</dt>
<dd>Greg Wilson.
Where's the real bottleneck in scientific computing?
<em>American Scientist</em>, January/February 2006.</dd>

<dt id="Mierle2005">Mierle2005</dt>
<dd>Keir Mierle, Kevin Laven, Sam Roweis, and Greg Wilson.
Mining student <span class="bibtex-protected">CVS</span> repositories for performance indicators.
<em><span class="bibtex-protected">SIGSOFT</span> Software Engineering Notes</em>, 30(4):1, July 2005.
URL: <a href="http://dx.doi.org/10.1145/1082983.1083150">http://dx.doi.org/10.1145/1082983.1083150</a>, <a href="https://doi.org/10.1145/1082983.1083150">doi:10.1145/1082983.1083150</a>.</dd>

<dt id="Reid2005">Reid2005</dt>
<dd>Karen&nbsp;L. Reid and Gregory&nbsp;V. Wilson.
Learning by doing: introducing version control as a way to manage student assignments.
In <em>Proc. 36th SIGCSE Technical Symposium on Computer Science Education</em>, 272–276. Association for Computing Machinery (<span class="bibtex-protected">ACM</span>), 2005.</dd>

<dt id="Gries2005">Gries2005</dt>
<dd>Paul Gries, Volodymyr Mnih, Jonathan Taylor, Greg Wilson, and Lee Zamparo.
Memview: a pedagogically-motivated visual debugger.
In <em>Proc. <span class="bibtex-protected">ASEE</span>/<span class="bibtex-protected">IEEE</span> Frontiers in Education 2005</em>. 2005.</dd>

<dt id="Wilson2005a">Wilson2005a</dt>
<dd>Greg Wilson.
<em>Data Crunching: Solve Everyday Problems Using Java, Python, and More</em>.
Pragmatic Bookshelf, 2005.
ISBN 0-9745140-7-1.</dd>

<dt id="Wilson2005b">Wilson2005b</dt>
<dd>Greg Wilson.
Open source offers solutions for science software education.
<em>Nature</em>, 436:600, July 2005.</dd>

<dt id="Wilson2004">Wilson2004</dt>
<dd>Gregory&nbsp;V. Wilson.
Extensible programming for the 21st century.
<em><span class="bibtex-protected">ACM</span> Queue</em>, 2(9):48–57, 2004.</dd>

<dt id="Levesque2004">Levesque2004</dt>
<dd>Michelle Levesque and Greg Wilson.
Open source, cold shoulder.
<em>Software Development</em>, November 2004.</dd>

<dt id="Wilson2003">Wilson2003</dt>
<dd>Greg Wilson.
<span class="bibtex-protected">XML</span>-based programming systems.
<em>Doctor Dobb's Journal</em>, March 2003.</dd>

<dt id="Amdur2002">Amdur2002</dt>
<dd>Gene Amdur, Andrew Flint, Irving Reid, and Greg Wilson.
<span class="bibtex-protected">SelectAccess</span>: extensible network access control.
<em>Doctor Dobb's Journal</em>, Spring 2002.</dd>

<dt id="Beckman2000">Beckman2000</dt>
<dd>Pete Beckman and Greg Wilson.
Open source meets big iron.
<em>Doctor Dobb's Journal</em>, June 2000.</dd>

<dt id="Webb1999">Webb1999</dt>
<dd>Peter Webb and Greg Wilson.
<span class="bibtex-protected">MATLAB</span> as a scripting language.
<em>Doctor Dobb's Journal</em>, January 1999.</dd>

<dt id="Wilson1999a">Wilson1999a</dt>
<dd>Gregory&nbsp;V. Wilson.
High-performance programming for computational scientists.
In <em>Proc. of High Performance Computing Systems and Applications 1999</em>. 1999.</dd>

<dt id="Wilson1999b">Wilson1999b</dt>
<dd>Greg Wilson.
Is the open source community setting a bad example?
<em><span class="bibtex-protected">IEEE</span> Software</em>, January 1999.</dd>

<dt id="Wilson1999c">Wilson1999c</dt>
<dd>Greg Wilson.
<em>Three Sensible Adventures</em>.
Annick Press, 1999.
ISBN 978-1550375992.</dd>

<dt id="DeSimone1998">DeSimone1998</dt>
<dd>Mauricio de&nbsp;Simone and Greg Wilson.
The active expressions library.
<em>Doctor Dobb's Journal</em>, August 1998.</dd>

<dt id="Gorda1997">Gorda1997</dt>
<dd>Brent Gorda and Greg Wilson.
Building and running online auctions.
<em>Doctor Dobb's Journal</em>, October 1997.</dd>

<dt id="VanDerGroot1997">VanDerGroot1997</dt>
<dd>Roel van&nbsp;der Goot, Jonathan Schaeffer, and Gregory&nbsp;V. Wilson.
Safer tuple spaces.
In <em>Second International Conference on Coordination Languages and Models (COORDINATION 1997)</em>, volume 1282 of Lecture Notes in Computer Science, 289–301. Springer, 1997.</dd>

<dt id="Arjomandi1996">Arjomandi1996</dt>
<dd>Eshrat Arjomandi, William&nbsp;G. O'Farrell, and Gregory&nbsp;V. Wilson.
Smart messages: an object-oriented communication mechanism for parallel systems.
<em>Computing Systems</em>, 9(4):313–329, 1996.</dd>

<dt id="Wilson1996a">Wilson1996a</dt>
<dd>Gregory&nbsp;V. Wilson and Paul Lu, editors.
<em>Parallel Programming Using C++</em>.
MIT Press, 1996.
ISBN 0-262-73118-5.</dd>

<dt id="Wilson1996b">Wilson1996b</dt>
<dd>Gregory&nbsp;V. Wilson.
What should computer scientists teach to physical scientists and engineers?
<em>IEEE Computational Science and Engineering</em>, Summer and Fall 1996.</dd>

<dt id="Hyde1995">Hyde1995</dt>
<dd>Daniel&nbsp;C. Hyde, David Kotz, Gordon Makinson, Panagiotis&nbsp;Takis Metaxas, Christopher&nbsp;H. Nevison, Nan&nbsp;C. Schaller, and Gregory&nbsp;V. Wilson.
Different approaches to parallel computing education.
In <em>Proc. 9th International Parallel Processing Symposium</em>. IEEE Computer Society, 1995.</dd>

<dt id="Wilson1995">Wilson1995</dt>
<dd>Gregory&nbsp;V. Wilson.
<em>Practical Parallel Programming</em>.
MIT Press, 1995.
ISBN 0-262-23186-7.</dd>

<dt id="Wilson1994">Wilson1994</dt>
<dd>Gregory&nbsp;V. Wilson, Brent Gorda, and Paul Lu.
Twelve ways to make sure your parallel programming system doesn't make others look bad.
<em>IEEE Computer</em>, 1994.</dd>

<dt id="Wilson1993">Wilson1993</dt>
<dd>Gregory&nbsp;V. Wilson, Jonathan Schaeffer, and Duane Szafron.
Enterprise in context: assessing the usability of parallel programming environments.
In <em>Proc. 1993 Conference of the Centre for Advanced Studies on Collaborative Research</em>, 999–1010. IBM, 1993.</dd>

<dt id="Wilson1992">Wilson1992</dt>
<dd>Gregory&nbsp;V. Wilson.
Using opportunistic combining networks to reduce contention in multicomputers.
In <em>Proc. Parallel Architectures and Languages Europe (<span class="bibtex-protected">PARLE</span> 1992)</em>, volume 605 of Lecture Notes in Computer Science, 651–666. Springer, 1992.</dd>

<dt id="Clarke1991">Clarke1991</dt>
<dd>Lyndon Clarke and Greg Wilson.
Tiny: an efficient routing harness for the inmos transputer.
<em>Concurrency: Practice &amp; Experience</em>, 3(3):221–245, June 1991.
URL: <a href="http://dx.doi.org/10.1002/cpe.4330030307">http://dx.doi.org/10.1002/cpe.4330030307</a>, <a href="https://doi.org/10.1002/cpe.4330030307">doi:10.1002/cpe.4330030307</a>.</dd>

<dt id="Trew1991">Trew1991</dt>
<dd>Arthur Trew and Greg Wilson, editors.
<em>Past, Present, Parallel</em>.
Springer, 1991.
ISBN 978-3540196648.
URL: <a href="http://dx.doi.org/10.1007/978-1-4471-1842-8">http://dx.doi.org/10.1007/978-1-4471-1842-8</a>, <a href="https://doi.org/10.1007/978-1-4471-1842-8">doi:10.1007/978-1-4471-1842-8</a>.</dd>

</dl>
