<div class="flex-row">
  <div class="flex-eight">
    <img src="{{'/files/bib/and-then.jpg' | relative_url}}" alt="Cover of 'And Then'" />
  </div>
  <div class="flex-eight">
    <img src="{{'/files/bib/aosa-1.jpg' | relative_url}}" alt="Cover of 'Architecture of Open Source Applications volume 1'" />
  </div>
  <div class="flex-eight">
    <img src="{{'/files/bib/aosa-2.jpg' | relative_url}}" alt="Cover of 'Architecture of OPen Source Applications volume 2'" />
  </div>
  <div class="flex-eight">
    <img src="{{'/files/bib/beautiful-code.jpg' | relative_url}}" alt="Cover of 'Beautiful Code'" />
  </div>
  <div class="flex-eight">
    <img src="{{'/files/bib/beneath-coriandel-cover.jpg' | relative_url}}" alt="Cover of 'Beneath Coriandel'" />
  </div>
  <div class="flex-eight">
    <img src="{{'/files/bib/bottle-light.jpg' | relative_url}}" alt="Cover of 'Bottle of Light'" />
  </div>
  <div class="flex-eight">
    <img src="{{'/files/bib/js4ds-cover.jpg' | relative_url}}" alt="Cover of 'JavaScript for Data Scientists'" />
  </div>
</div>
<div class="flex-row">
  <div class="flex-eight">
    <img src="{{'/files/bib/keeyas-numbers.png' | relative_url}}" alt="Cover of 'Keeyas Numbers'" />
  </div>
  <div class="flex-eight">
    <img src="{{'/files/bib/making-software.jpg' | relative_url}}" alt="Cover of 'Making Software'" />
  </div>
  <div class="flex-eight">
    <img src="{{'/files/bib/py-rse-cover.png' | relative_url}}" alt="Cover of 'Research Software Engineering with Python'" />
  </div>
  <div class="flex-eight">
    <img src="{{'/files/bib/sdxjs-cover.png' | relative_url}}" alt="Cover of 'Software Design by Example (Javascript version)'" />
  </div>
  <div class="flex-eight">
    <img src="{{'/files/bib/sensible-adventures.jpg' | relative_url}}" alt="Cover of 'Three Sensible Adventures'" />
  </div>
  <div class="flex-eight">
    <img src="{{'/files/bib/still.jpg' | relative_url}}" alt="Cover of 'Still'" />
  </div>
  <div class="flex-eight">
    <img src="{{'/files/bib/t3-cover.jpg' | relative_url}}" alt="Cover of 'Teaching Tech Together'" />
  </div>
</div>
