<div class="sidebar well">
  <h3>How to Teach Programming<br/>(and Other Things)</h3>
  <ul>
    <li><a href="{{ site.github.url }}/teaching/">Introduction</a></li>
    <li><a href="{{ site.github.url }}/teaching/novice.html">Helping Novices Build Mental Models</a></li>
    <li><a href="{{ site.github.url }}/teaching/performance.html">Teaching as a Performance Art</a></li>
    <li><a href="{{ site.github.url }}/teaching/memory.html">Expertise and Memory</a></li>
    <li><a href="{{ site.github.url }}/teaching/load.html">Cognitive Load</a></li>
    <li><a href="{{ site.github.url }}/teaching/lessons.html">Designing Lessons</a></li>
    <li><a href="{{ site.github.url }}/teaching/motivation.html">Motivation and Demotivation</a></li>
    <li><a href="{{ site.github.url }}/teaching/live.html">Live Coding</a></li>
    <li><a href="{{ site.github.url }}/teaching/practices.html">Teaching Practices</a></li>
  </ul>
  <hr style="border-color: darkgray;"/>
  <ul>
    <li><a href="{{ site.github.url }}/teaching/conduct.html">Code of Conduct</a></li>
    <li><a href="{{ site.github.url }}/teaching/citation.html">Citation</a></li>
    <li><a href="{{ site.github.url }}/teaching/rules.html">The Rules</a></li>
    <li><a href="{{ site.github.url }}/teaching/biblio.html">Bibliography</a></li>
    <li><a href="{{ site.github.url }}/teaching/gloss.html">Glossary</a></li>
    <li><a href="{{ site.github.url }}/teaching/contributing.html">How to Contribute</a></li>
    <li><a href="{{ site.github.url }}/teaching/checklists.html">Checklists</a></li>
    <li><a href="{{ site.github.url }}/teaching/extras.html">Extra Material</a></li>
    <li><a href="{{ site.github.url }}/teaching/why.html">Why I Teach</a></li>
  </ul>
</div>
