<div class="row">
  <div class="col-2">
    <a href="{{'/fiction/and-then/004-005/' | relative_url}}">
      <img class="image" src="{{'/files/bib/and-then.jpg' | relative_url}}" alt="Cover of 'And Then'" />
    </a>
  </div>
  <div class="col-2">
    <a href="https://aosabook.org/en/index.html#aosa1">
      <img class="image" src="{{'/files/bib/aosa-1.jpg' | relative_url}}" alt="Cover of 'Architecture of Open Source Applications volume 1'" />
    </a>
  </div>
  <div class="col-2">
    <a href="https://aosabook.org/en/index.html#aosa2">
      <img class="image" src="{{'/files/bib/aosa-2.jpg' | relative_url}}" alt="Cover of 'Architecture of OPen Source Applications volume 2'" />
    </a>
  </div>
  <div class="col-2">
    <a href="https://www.oreilly.com/library/view/beautiful-code/9780596510046/">
      <img class="image" src="{{'/files/bib/beautiful-code.jpg' | relative_url}}" alt="Cover of 'Beautiful Code'" />
    </a>
  </div>
  <div class="col-2">
    <a href="{{'/fiction/beneath-coriandel/' | relative_url}}">
      <img class="image" src="{{'/files/bib/beneath-coriandel-cover.jpg' | relative_url}}" alt="Cover of 'Beneath Coriandel'" />
    </a>
  </div>
  <div class="col-2">
    <img class="image" src="{{'/files/bib/bottle-light.jpg' | relative_url}}" alt="Cover of 'Bottle of Light'" />
  </div>
</div>

<div class="row">
  <div class="col-2">
    <a href="{{'/js4ds/' | relative_url}}">
      <img class="image" src="{{'/files/bib/js4ds-cover.jpg' | relative_url}}" alt="Cover of 'JavaScript for Data Scientists'" />
    </a>
  </div>
  <div class="col-2">
    <a href="{{'/fiction/still-book/' | relative_url}}">
      <img class="image" src="{{'/files/bib/still.jpg' | relative_url}}" alt="Cover of 'Still'" />
    </a>
  </div>
  <div class="col-2">
    <a href="https://www.oreilly.com/library/view/making-software/9780596808310/">
      <img class="image" src="{{'/files/bib/making-software.jpg' | relative_url}}" alt="Cover of 'Making Software'" />
    </a>
  </div>
  <div class="col-2">
    <a href="https://merely-useful.tech/py-rse/">
      <img class="image" src="{{'/files/bib/py-rse-cover.png' | relative_url}}" alt="Cover of 'Research Software Engineering with Python'" />
    </a>
  </div>
  <div class="col-2">
    <a href="{{'/sdxjs/' | relative_url}}">
      <img class="image" src="{{'/files/bib/sdxjs-cover.png' | relative_url}}" alt="Cover of 'Software Design by Example (Javascript version)'" />
    </a>
  </div>
  <div class="col-2">
    <a href="https://teachtogether.tech/">
      <img class="image" src="{{'/files/bib/t3-cover.jpg' | relative_url}}" alt="Cover of 'Teaching Tech Together'" />
    </a>
  </div>
</div>

<div class="row">
  <div class="col-4"></div>
  <div class="col-2">
    <img class="image" src="{{'/files/bib/keeyas-numbers.png' | relative_url}}" alt="Cover of 'Keeyas Numbers'" />
  </div>
  <div class="col-2">
    <img class="image" src="{{'/files/bib/sensible-adventures.jpg' | relative_url}}" alt="Cover of 'Three Sensible Adventures'" />
  </div>
  <div class="col-4"></div>
</div>
