<div class="container-fluid">
  <div class="row-fluid">
    <div class="span12 footer" align="center">
      <br/>
      <p>
	<a href="http://www.lulu.com/shop/greg-wilson/teaching-tech-together/paperback/product-23720755.html"><img src="{{ site.github.url }}/files/bib/t3.jpg"/></a>
	<a href="http://www.lulu.com/shop/greg-wilson/still/paperback/product-21193614.html"><img src="{{ site.github.url }}/files/bib/still.jpg"/></a>
	<a href="http://www.lulu.com/shop/greg-wilson/and-then/paperback/product-20295057.html"><img src="{{ site.github.url }}/files/bib/and-then.jpg"/></a>
	<a href="https://isbndb.com/book/9781257638017"><img src="{{ site.github.url }}/files/bib/aosa-1.jpg"/></a>
	<a href="https://isbndb.com/book/9781105571817"><img src="{{ site.github.url }}/files/bib/aosa-2.jpg"/></a>
	<a href="https://isbndb.com/book/9780596808327"><img src="{{ site.github.url }}/files/bib/making-software.jpg"/></a>
	<a href="https://isbndb.com/book/9780596510046"><img src="{{ site.github.url }}/files/bib/beautiful-code.jpg"/></a>
      </p>
      <p class="copyright">
        &copy; {{ site.time | date: '%Y' }} {{ site.author }}.
        All content made available under the <a href="/license/">Creative Commons - Attribution License</a>.
      </p>
    </div>
  </div>
</div>
