{% include disqus.html %}
<div class="container-fluid">
  <div class="row-fluid">
    <div class="span12 footer" align="center">
      <br/>
      <p>
	<a href="http://www.lulu.com/shop/greg-wilson/teaching-tech-together/paperback/product-23720755.html"><img src="{{ site.github.url }}/files/bib/t3.jpg" class="footer"/></a>
	<a href="http://www.lulu.com/shop/greg-wilson/still/paperback/product-21193614.html"><img src="{{ site.github.url }}/files/bib/still.jpg" class="footer"/></a>
	<a href="http://www.lulu.com/shop/greg-wilson/and-then/paperback/product-20295057.html"><img src="{{ site.github.url }}/files/bib/and-then.jpg" class="footer"/></a>
	<a href="https://www.amazon.com/Casserole-Diplomacy-Other-Stories-Retrospective/dp/1928025056/"><img src="{{ site.github.url }}/files/bib/onspec-25.jpg" class="footer"/></a>
	<a href="https://www.amazon.com/Architecture-Open-Source-Applications/dp/1257638017/"><img src="{{ site.github.url }}/files/bib/aosa-1.jpg" class="footer"/></a>
	<a href="https://www.amazon.com/Architecture-Open-Source-Applications-Ii/dp/1105571815/"><img src="{{ site.github.url }}/files/bib/aosa-2.jpg" class="footer"/></a>
	<a href="https://www.amazon.com/Making-Software-Really-Works-Believe/dp/0596808321/"><img src="{{ site.github.url }}/files/bib/making-software.jpg" class="footer"/></a>
	<a href="https://www.amazon.com/Beautiful-Code-Leading-Programmers-Practice/dp/0596510047/"><img src="{{ site.github.url }}/files/bib/beautiful-code.jpg" class="footer"/></a>
	<img src="{{ site.github.url }}/files/bib/bottle-light.jpg" class="footer"/>
	<img src="{{ site.github.url }}/files/bib/sensible-adventures.jpg" class="footer"/>
      </p>
      <p class="copyright">
        &copy; {{ site.time | date: '%Y' }} {{ site.author }}.
        All content made available under the <a href="/license/">Creative Commons - Attribution License</a>.
	<br/>
	<em>Last built {{ site.time %}}.</em>
      </p>
    </div>
  </div>
</div>
<script id="dsq-count-scr" src="//thirdbit.disqus.com/count.js" async></script>
