<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>{{ site.title }}{% unless page.home %} &middot; {{ page.title }}{% endunless %}</title>
<link rel="me" href="https://mastodon.social/@gvwilson">
<link rel="shortcut icon" type="image/x-icon" href="{{ '/favicon.ico' | relative_url }}">
<link rel="alternate" type="application/atom+xml" title="{{ site.title }}" href="{{ '/atom.xml' | relative_url }}">
<link rel="stylesheet" href="{{ '/res/thirdbit.css' | relative_url }}" type="text/css">
<script src="https://kit.fontawesome.com/4eee35f757.js"></script>
<script defer data-domain="third-bit.com" src="https://plausible.io/js/plausible.js"></script>
