<table class="layout">
  <tr>
    <td width="50%">
      <img src="{{site.github.url}}/files/gvwilson-tpl-2017-small.jpg" alt="Greg Wilson" width="100%" />
    </td>
    <td width="50%">
      <p>
        Co-founder of <a href="https://software-carpentry.org">Software Carpentry</a>
        <br/>
        Author of books on <a href="http://aosabook.org">computing</a>
        and <a href="http://teachtogether.tech">teaching</a>
        <br/>
        (and <a href="http://sensibleadventures.com">for children</a>)
        <br/>
        Ph.D. in Computer Science
        <br/>
        Parent, spouse, and proud Canadian
      </p>
      <p>
        <em>
          Years ago, I lost my temper while arguing with my brother, and said,
          "Jeff, I could teach you everything I know and you'd still be an idiot."
          Please keep that in mind as you read this site.
        </em>
      </p>
    </td>
  </tr>
</table>
