<nav class="border fixed split-nav">
  <div class="nav-brand">
    <h3><a href="{{'/' | relative_url}}">Home</a></h3>
  </div>
  <div class="collapsible">
    <input id="collapsible-nav" type="checkbox" name="collapsible-nav">
    <label for="collapsible-nav">
      <div class="bar1"></div>
      <div class="bar2"></div>
      <div class="bar3"></div>
      <div class="bar4"></div>
      <div class="bar5"></div>
      <div class="bar6"></div>
      <div class="bar7"></div>
      <div class="bar8"></div>
    </label>
    <div class="collapsible-body">
      <ul class="inline">
	<li><a href="{{ '/about/' | relative_url }}">about</a></li>
	<li><a href="{{ '/blog/' | relative_url }}">blog</a></li>
	<li><a href="{{ '/favorites/' | relative_url }}">favorites</a></li>
	<li><a href="{{ '/ideas/' | relative_url }}">ideas</a></li>
	<li><a href="{{ '/advice/' | relative_url }}">advice</a></li>
	<li><a href="{{ '/talks/' | relative_url }}">talks</a></li>
	<li><a href="{{ '/fiction/' | relative_url }}">fiction</a></li>
	<li><a href="{{ '/files/beach-houses.jpg' | relative_url}}"><span id="timer-display"></span></a></li>
      </ul>
    </div>
  </div>
</nav>
