<nav>
  <div class="row underline">
    <div class="col-2 left">
      <a class="navlink" href="{{'/' | relative_url}}">Home</a>
    </div>
    <div class="col-10 right">
      <a class="navlink" href="{{ '/about/' | relative_url }}">about</a>
      <a class="navlink" href="{{ '/blog/' | relative_url }}">blog</a>
      <a class="navlink" href="{{ '/favorites/' | relative_url }}">favorites</a>
      <a class="navlink" href="{{ '/ideas/' | relative_url }}">to-don't</a>
      <a class="navlink" href="{{ '/advice/' | relative_url }}">tips</a>
      <a class="navlink" href="{{ '/talks/' | relative_url }}">talks</a>
      <a class="navlink" href="{{ '/bib/' | relative_url }}">bib</a>
      <a class="navlink" href="{{ '/fiction/' | relative_url }}">fiction</a>
    </div>
  </div>
</nav>
