<nav class="nav-main">
  <ul>
    <li class="hvr-underline-reveal"><a href="{{ '/' | relative_url }}">home</a></li>
    <li class="hvr-underline-reveal"><a href="{{ '/about/' | relative_url }}">about</a></li>
    <li class="hvr-underline-reveal"><a href="{{ '/blog/' | relative_url }}">blog</a></li>
    <li class="hvr-underline-reveal"><a href="{{ '/favorites/' | relative_url }}">favorites</a></li>
    <li class="hvr-underline-reveal"><a href="{{ '/ideas/' | relative_url }}">ideas</a></li>
    <li class="hvr-underline-reveal"><a href="{{ '/advice/' | relative_url }}">advice</a></li>
    <li class="hvr-underline-reveal"><a href="{{ '/reading/' | relative_url }}">reading</a></li>
    <li class="hvr-underline-reveal"><a href="{{ '/talks/' | relative_url }}">talks</a></li>
    <li class="hvr-underline-reveal"><a href="{{ '/fiction/' | relative_url }}">fiction</a></li>
  </ul>
</nav>
