<div class="container-fluid">
  <div class="row-fluid">
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{{ site.github.url }}/">{{ site.name }}</a>
      </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li class="active visible-xs-block"><a href="{{ site.github.url }}/links/">Links</a></li>
          <li class="active"><a href="{{ site.github.url }}/about/">About</a></li>
          <li class="active"><a href="{{ site.github.url }}/talks/">Talks</a></li>
          <li class="active"><a href="{{ site.github.url }}/ideas/">Ideas</a></li>
          <li class="active"><a href="{{ site.github.url }}/reading/">Reading</a></li>
          <li class="active"><a href="{{ site.github.url }}/archive/">Archive</a></li>
          <li class="active"><a href="{{ site.github.url }}/teaching/"><em>How to Teach</em></a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li class="active"><a href="http://appear.in/gvwilson"><img src="{{ site.github.url }}/img/appear.in.svg" class="navbar-icon" /></a></li>
          <li class="active"><a href="https://github.com/gvwilson"><img src="{{ site.github.url }}/img/github.svg" class="navbar-icon" /></a></li>
          <li class="active"><a href="http://twitter.com/gvwilson"><img src="{{ site.github.url }}/img/twitter.svg" class="navbar-icon" /></a></li>
          <li class="active"><a href="{{ site.github.url }}/feed.xml"><img src="{{ site.github.url }}/img/rss.svg" class="navbar-icon" /></a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
