<div class="navbar">
  <div class="navbar-inner">
    <ul class="nav">
      <li>{% if page.previous.url %}<a href="{{page.root}}{{page.previous.url}}">&laquo;</a>{% endif %}</li>
      <li><a href="{{page.root}}/index.html">Home</a></li>
      <li><a href="{{page.root}}/about.html">About</a></li>
      <li><a href="{{page.root}}/blog.html">Archives</a></li>
      <li>{% if page.next.url %}<a href="{{page.root}}{{page.next.url}}">&raquo;</a>{% endif %}</li>
      <li class="divider-vertical"></li>
      <li><a href="http://software-carpentry.org">Software Carpentry</a></li>
      <li><a href="http://aosabook.org">AOSA</a></li>
      <li><a href="http://neverworkintheory.org">NWIT</a></li>
      <li><a href="http://sensibleadventures.com">Sensible Adventures</a></li>
      <li class="divider-vertical"></li>
      <li><a href="{{page.root}}/feed.xml"><em>subscribe...</em></a></li>
    </ul>
  </div>
</div>
