<div class="navbar">
  <div class="navbar-inner">
    <ul class="nav">
      <li>{% if page.previous.url %}<a href="{{site.github.url}}{{page.previous.url}}">&laquo;</a>{% endif %}</li>
      <li><a href="{{site.github.url}}/index.html">Home</a></li>
      <li><a href="{{site.github.url}}/about.html">About</a></li>
      <li><a href="{{site.github.url}}/blog.html">Blog</a></li>
      <li><a href="{{site.github.url}}/ideas.html">Ideas</a></li>
      <li>{% if page.next.url %}<a href="{{site.github.url}}{{page.next.url}}">&raquo;</a>{% endif %}</li>
      <li class="divider-vertical"></li>
      <li><a href="http://software-carpentry.org">Software Carpentry&#9727;</a></li>
      <li><a href="http://aosabook.org">AOSA&#9727;</a></li>
      <li><a href="http://neverworkintheory.org">NWIT&#9727;</a></li>
      <li><a href="http://sensibleadventures.com">Sensible Adventures&#9727;</a></li>
      <li class="divider-vertical"></li>
      <li><a href="{{site.github.url}}/feed.xml"><img src="{{site.github.url}}/img/feed-icon.svg" alt="RSS feed icon" class="rss-icon" /></a></li>
    </ul>
  </div>
</div>
