<div class="row">
  <div class="col-2 left">
    {% if page.previous.url %}
      <a href="{{ page.previous.url }}">
        &lArr; <span class="pagination-text">previous</span>
      </a>
    {% endif %}
  </div>
  <div class="col-8 center">
    Posted <time datetime="{{ page.date | date_to_xmlschema }}" class="post-date">{{ page.date | date: "%Y-%m-%d" }}</time>
  </div>
  <div class="col-2 right">
    {% if page.next.url %}
      <a href="{{ page.next.url }}">
        <span class="pagination-text">next</span> &rArr;
      </a>
    {% endif %}
  </div>
</div>
