<div class="row">
  <div class="col-2">
    <p>
      <a href="{{site.rainbow}}">
        <img src="{{ '/files/rainbow-railroad.jpg' | relative_url }}" alt="Rainbow Railroad logo" class="image centered" >
      </a>
    </p>
  </div>
  <div class="col-10">
    <p markdown="1">
      I am offering a <a href="{{'/t3/' | relative_url}}">one-day workshop</a>
      on evidence-based teaching techniques for people in tech
      to raise money for <a href="{{site.rainbow}}">Rainbow Railroad</a>,
      a global nonprofit organization that helps at-risk LGTBQI+ people get to safety worldwide.
      If you would like to know more about how to onboard new team members,
      support your customers,
      or learn and teach new things yourself,
      please <a href="mailto:{{site.author.email}}">get in touch</a>.
    </p>
  </div>
</div>
