<div class="sidebar well">
  {% include links-list.html %}
  <h2>Favorites</h2>
  {% assign favorites = site.posts | where:"favorite",true %}
  {% for post in favorites %}
  <p><a href="{{ site.github.url}}{{ post.url }}">{{ post.title }}</a></p>{% endfor %}
  <p><a href="{{site.github.url}}/2017/12/21/talking-people-into-things.html">Ten Simple Rules for Talking People Into Things</a></p>
  <p><a href="{{site.github.url}}/2017/11/05/for-everyone.html">Carpentry For Everyone</a></p>
  <p><a href="{{site.github.url}}/2017/10/16/exercise-types.html">What Kinds of Exercises Do You Use to Teach Programming?</a></p>
  <p><a href="{{site.github.url}}/2017/09/30/git-graphs-and-engineering.html">Git, Graphs, and Software Engineering</a></p>
  <p><a href="{{site.github.url}}/2017/06/19/ten-rules-research-partner.html">Ten Simple Rules for Being a Good Research Partner</a></p>
  <p><a href="{{site.github.url}}/2017/05/22/numerical-javascript.html">Numerical JavaScript</a></p>
  <p><a href="{{site.github.url}}/2017/01/06/them-thats-got.html">Them That's Got</a></p>
  <p><a href="{{site.github.url}}/2016/10/30/rules-for-teaching.html">Rules for Teaching</a></p>
  <p><a href="{{site.github.url}}/2016/04/29/why-teachers-dont-collaborate.html">Why Teachers Don't Collaborate on Lesson Development</a></p>
  <p><a href="{{site.github.url}}/2016/04/01/zen-and-the-art-of-assignment-operators.html">Zen and the Art of Assignment Operators</a></p>
  <p><a href="{{site.github.url}}/2016/03/13/in-my-better-world.html">In My Better World</a></p>
  <p><a href="{{site.github.url}}/2015/12/19/why-i-teach.html">Why I Teach (Revisited)</a></p>
  <p><a href="{{site.github.url}}/2015/12/06/just-keep-swimming.html">Just Keep Swimming</a></p>
  <p><a href="{{site.github.url}}/2015/11/29/exaptation.html">Exaptation and the Future of Software Engineering</a></p>
  <p><a href="{{site.github.url}}/2015/11/09/daddy-why-dont-you-ever-laugh.html">Daddy, Why Don't You Ever Laugh?</a></p>
  <p><a href="{{site.github.url}}/2015/09/22/dad.html">Goodbye, Dad</a></p>
  <p><a href="{{site.github.url}}/2014/10/08/announcing-the-creation-of-the-software-carpentry-foundation.html">Announcing the Creation of the Software Carpentry Foundation</a></p>
  <p><a href="{{site.github.url}}/2014/03/14/learning-at-scale.html">Is Learning at Scale Just Another Name for Ubiquitous Surveillance in the Classroom?</a></p>
  <p><a href="{{site.github.url}}/2013/10/17/you-keep-using-that-word.html">You Keep Using That Word</a></p>
  <p><a href="{{site.github.url}}/2013/02/11/correctness-isnt-compelling.html">Correctness Isn't Compelling</a></p>
  <p><a href="{{site.github.url}}/2012/10/23/twenty-percent.html">Twenty Percent</a></p>
  <p><a href="{{site.github.url}}/2012/06/29/those-who-ignore-history.html">That Seems Simple to Me</a></p>
  <p><a href="{{site.github.url}}/2012/01/21/the-life-i-did-live-the-breath-i-breathed.html">We Have Nothing To Give Them</a></p>
</div>
