<div class="sidebar">

  <p><strong>Navigation</strong></p>
  <ul>
    <li><a href="{{ site.github.url }}/">{{ site.name }}</a></li>
    <li><a href="{{ site.github.url }}/about/">About</a></li>
    <li><a href="{{ site.github.url }}/talks/">Talks</a></li>
    <li><a href="{{ site.github.url }}/ideas/">Ideas</a></li>
    <li><a href="{{ site.github.url }}/reading/">Reading</a></li>
    <li><a href="{{ site.github.url }}/archive/">Archive</a></li>
  </ul>

  <hr/>

  <p><strong>Links</strong></p>
  <ul>
    <li><a href="http://software-carpentry.org">Software Carpentry</a></li>
    <li><a href="http://aosabook.org">Architecture of Open Source Applications</a></li>
    <li><a href="http://neverworkintheory.org">Never Work in Theory</a></li>
    <li><a href="http://sensibleadventures.com">Sensible Adventures</a></li>
    <li><a href="{{ site.github.url }}/cv/">CV</a></li>
    <li><a href="{{ site.github.url }}/bib/">Bibliography</a></li>
  </ul>

  <hr/>

  <p><strong>Favorites</strong></p>
  <ul>
    {% assign favorites = site.posts | where:"favorite",true %}
    {% for post in favorites %}
    <li><a href="{{ site.github.url}}{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>

  <hr/>

  <p><a href="http://appear.in/gvwilson"><img src="{{ site.github.url }}/files/appear.in.svg" width="20%" /></a></p>
  <p><a href="https://github.com/gvwilson"><img src="{{ site.github.url }}/files/github.svg" width="20%" /></a></p>
  <p><a href="http://twitter.com/gvwilson"><img src="{{ site.github.url }}/files/twitter.svg" width="20%" /></a></p>
  <p><a href="{{ site.github.url }}/feed.xml"><img src="{{ site.github.url }}/files/rss.svg" width="20%" /></a></p>

  <hr/>

  <p>
    <em>
      Start where you are.
      <br/>
      Use what you have.
      <br/>
      Help who you can.
    </em>
  </p>
</div>
