:root {
    --extra-space: 5px;
    --page-width: 40em;
}

body {
    font-family: sans-serif;
    max-width: var(--page-width);
    border: 1px solid gray;
    margin: var(--extra-space);
    padding: var(--extra-space);
}

h1.title {
    text-align: center;
}

span.keyword {
    font-weight: bold;
}
