.page__content dd {
    font-size: 1em;
}

td.right {
    text-align: right;
}

td.top {
    vertical-align: top;
}

img.book-cover {
    width: 8em;
    margin-left: 2em;
    margin-right: 2em;
}

p.paper-details {
    font-size: 0.9em;
}
