/* Overall */

body {
    font-family: Georgia;
    width: 68em;
    line-height: 120%;
}

div.body {
    display: flex;
    padding: 0.5em;
}

div.sidebar {
    width: 25%;
    font-size: 90%;
    padding-left: 0.5em;
    padding-right: 0.5em;
    background-color: #f0f0f0;
}

div.main {
    flex: 1;
    padding-left: 0.5em;
    width: 70%;
    height: 100%;
}

/* Navigation sidebar */

div.sidebar ul {
    padding-left: 1em;
}

div.sidebar p+ul {
    padding-top: -10px;
    margin-top: -10px;
}

/* Footer */

footer {
    width: 100%;
    text-align: center;
    clear: both;
}

img.footer {
    height: 120px;
}

/* Styling */

h2 {
    font-style: italic;
}

h4 {
    font-style: italic;
}

a {
    color: #8080C0;
}

hr {
    border: none;
    height: 2px;
    color: #8080A0;
    background-color: #8080A0;
}

blockquote {
    background-color: #f0f0f0;
    padding-left: 5px;
    padding-right: 5px;
    margin-left: 1em;
    margin-right: 1em;
}

ol, ul {
    padding-left: 1.2em;
}

ol ul {
    padding-bottom: 0.5em;
}

/* Close up definition lists */

dl {
    padding-left: 1em;
}

dt {
    clear: left;
    float: left;
    margin: 0 0.5em 0 0;
}

dt::before {
    content: "";
    display: block;
    height: 0.25em;
}

dd::before {
    content: "";
    display: block;
    height: 0.25em;
}

dd p {
    display: inline;
    margin: 0;
    padding: 0;
}

dt {
    margin-left: -1em;
}

/* Tables */

table {
    border-collapse: collapse;
}

th {
    text-align: left;
    vertical-align: top;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
}

td {
    vertical-align: top;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
}

tr:nth-child(odd) {
    background-color: #f0f0f0;
}

table.layout tr:nth-child(odd) {
    background-color: inherit;
}
