<!DOCTYPE html>
<html lang="en">
  <head>
    {% include "head.jinja" %}
    <script src="https://kit.fontawesome.com/4eee35f757.js"></script>
    <link rel="stylesheet" href="@root/assets/chota.css" type="text/css">
    <link rel="stylesheet" href="@root/assets/mccole.css" type="text/css">
    <link rel="stylesheet" href="@root/assets/thirdbit.css" type="text/css">
    {% block head_title %}
    <title>{% if node.title %}{{node.title}}{% else %}{{site.title}}{% endif %}</title>
    {% endblock %}
    {% block head_includes %}{% endblock %}
    {% if node.katex %}<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex/dist/katex.min.css">{% endif %}
  </head>
  <body>
    <a class="skip-link" href="#main-content">Skip to main content</a>
    {% include "nav.jinja" %}
    <main id="main-content">
      {% block page_title %}
      <h1>{% if node.title %}{{node.title}}{% else %}{{site.title}}{% endif %}</h1>
      {% endblock %}
{% block content %}{% endblock %}
    </main>
    {% include "foot.jinja" %}
    {% if node.katex %}
    <script src="https://cdn.jsdelivr.net/npm/katex/dist/katex.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/katex/dist/contrib/auto-render.min.js"></script>
    <script>
      renderMathInElement(document.body, {
	  delimiters: [
              { left: "$$", right: "$$", display: true  },
              { left: "$",  right: "$",  display: false }
	  ]
      });
    </script>
    {% endif %}
  </body>
</html>
