<footer>
  &copy; 2004-{{site.today.year}} <a href="@root/about/">{{site.author.name}}</a>
  <a href="mailto:{{site.author.email}}"><img src="@root/assets/icons/envelope.svg" alt="email" class="footer-icon"></a>
  <a href="{{site.author.linkedin}}"><img src="@root/assets/icons/linkedin.svg" alt="LinkedIn" class="footer-icon"></a>
  <a href="{{site.author.mastodon}}"><img src="@root/assets/icons/mastodon.svg" alt="Mastodon" class="footer-icon"></a>
  <a href="{{site.author.github}}"><img src="@root/assets/icons/github.svg" alt="GitHub" class="footer-icon"></a>
  <a href="{{site.author.youtube}}"><img src="@root/assets/icons/youtube.svg" alt="YouTube" class="footer-icon"></a>
  <a href="@root/bib/"><img src="@root/assets/icons/orcid.svg" alt="ORCID" class="footer-icon"></a>
  <a href="@root/atom.xml"><img src="@root/assets/icons/rss.svg" alt="RSS feed" class="footer-icon"></a>
  <a href="@root/license/"><img src="@root/assets/icons/cc-by.svg" alt="license" class="footer-icon"></a>
  <a href="@root/colophon/"><img src="@root/assets/icons/pencil.svg" alt="colophon" class="footer-icon"></a>
  <a href="@root/cv/"><img src="@root/assets/icons/file.svg" alt="CV" class="footer-icon"></a>
  <br>
  None of the material on this site may be used to train AI models without the express prior permission of the author.
</footer>
