<footer>
  <i class="fa fa-copyright"></i> 2004-{{site.today.year}} <a href="@root/about/">{{site.author.name}}</a>
  &middot;
  <a href="mailto:{{site.author.email}}"><i class="fas fa-envelope-square" aria-hidden="true" title="author email"></i></a>
  <a href="{{site.author.linkedin}}"><i class="fab fa-linkedin-in" aria-hidden="true" title="LinkedIn"></i></a>
  <a href="{{site.author.mastodon}}"><i class="fab fa-mastodon" aria-hidden="true" title="Mastodon"></i></a>
  <a href="{{site.author.github}}"><i class="fab fa-github" aria-hidden="true" title="GitHub"></i></a>
  <a href="{{site.author.calendly}}"><i class="fas fa-calendar-week" aria-hidden="true" title="calendar"></i></a>
  <a href="{{site.author.youtube}}"><i class="fab fa-youtube" aria-hidden="true" title="YouTube"></i></a>
  &middot;
  <a href="@root/bib/"><i class="fab fa-orcid" aria-hidden="true" title="bibliography"></i></a>
  <a href="@root/atom.xml"><i class="fas fa-rss" aria-hidden="true" title="RSS feed"></i></a>
  <a href="@root/license/"><i class="fab fa-creative-commons-by" aria-hidden="true" title="license"></i></a>
  <a href="@root/colophon/"><i class="fas fa-pen-fancy" aria-hidden="true" title="colophon"></i></a>
  <a href="@root/cv/"><i class="fas fa-file" aria-hidden="true" title="CV"></i></a>
</footer>
