    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="me" href="https://mastodon.social/@gvwilson">
    <link rel="shortcut icon" type="image/x-icon" href="@root/favicon.ico">
    <link rel="alternate" type="application/atom+xml" title="{{site.title}}" href="@root/atom.xml">
    <script src="https://kit.fontawesome.com/4eee35f757.js"></script>
    <!-- <script defer data-domain="third-bit.com" src="https://plausible.io/js/plausible.js"></script> -->
    <link rel="stylesheet" href="@root/thirdbit.css">
