{% extends "base.jinja" %}

{% block head_title %}
<title>{{site.title}}</title>
{% endblock %}

{% block page_title %}
<h1>{{site.author.name}}</h1>
{% endblock %}

{% block content %}
<div class="center">
  <p><em>start where you are - use what you have - help who you can</em></p>
</div>

{% include "bio.jinja" %}

<h2>Workshops</h2>

<p class="center">
  <em>
    Please <a href="mailto:{{site.author.email}}">email me</a>
    if you'd like to host any of these workshops in person or online,
    and see <a href="@root/talks/speaking/">this rider</a> for details.
  </em>
</p>

{% with snippets=site.workshops %}
  {% include "prior-section.jinja" %}
{% endwith %}

<div class="row">
  <div class="col-6 col">
    <div class="card">
{% include "recent_posts.jinja" %}
    </div>
  </div>
  <div class="col-6 col">
    <div class="card">
{% include "recent_papers.jinja" %}
    </div>
  </div>
</div>

<h2>Books</h2>

{% with snippets=site.books %}
  {% include "prior-section.jinja" %}
{% endwith %}

{% endblock %}
