<div class="row">
  <div class="col-3">
    <p>
      <img src="@root/files/cv/gvwilson-2025.jpg" alt="Greg Wilson" class="image centered" >
    </p>
  </div>
  <div class="col-9">
    <p>
      Co-founder and first Executive Director of <a href="http://carpentries.org">Software Carpentry</a>
      <br/>
      Co-founder of <a href="https://neverworkintheory.org/">It Will Never Work in Theory</a>
      and <a href="http://aosabook.org/">The Architecture of Open Source Applications</a>
      <br/>
      <a href="https://www.sigsoft.org/">ACM SIGSOFT</a> Influential Educator of the Year
      <br/>
      Co-winner of the Jolt Award for <em>Beautiful Code</em>
      <br/>
      Fellow of the <a href="https://www.python.org/psf/">Python Software Foundation</a>
      <br/>
      Ph.D. in Computer Science, <a href="https://www.ed.ac.uk/">the University of Edinburgh</a>
      <br/>
      <a href="@root/bib/">Author, co-author, or editor</a> of 14 books on programming and two for children
      <br/>
      <em><a href="@root/about/">…more</a></em>
    </p>
  </div>
</div>
