<h2>Books and Other Projects</h2>

<div class="row">
  <div class="col-6 col">
    <div class="card">
      <h3><em><a href="@root/sdxpy/">Software Design by Example in Python</a></em></h3>
      <!--
      <a href="@root/sdxpy/">
	<img src="@root/sdxpy/sdxpy-cover.png" alt="Book cover" width="60%" class="image centered">
      </a>
      -->
      <p>
        Two dozen worked examples that teach software design design
	by showing how to build the tools that programmers use every day using Python
	(2024).
        <br>
      </p>
    </div>
  </div>
  <div class="col-6 col">
    <div class="card">
      <h3><em><a href="@root/sdxjs/">Software Design by Example in JavaScript</a></em></h3>
      <!--
      <a href="@root/sdxjs/">
	<img src="@root/sdxjs/sdxjs-cover.png" alt="Book cover" width="60%" class="image centered">
      </a>
      -->
      <p>
        Twenty worked examples that teach software design design
	by showing how to build the tools that programmers use every day using JavaScript
	(2022).
        <br>
      </p>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-6 col">
    <div class="card">
      <h3><em><a href="https://carpentries.org">The Carpentries</a></em></h3>
      <p>
        A non-profit organization teaching basic software and data skills to researchers world-wide
        (1998–present).
      </p>
    </div>
  </div>
  <div class="col-6 col">
    <div class="card">
      <h3><a href="http://neverworkintheory.org"><em>It Will Never Work in Theory</em></a></h3>
      <p>
        Brief reviews for working programmers of empirical results in software engineering
        (2011–2023).
      </p>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-6 col">
    <div class="card">
      <h3><a href="@root/py-rse/"><em>Research Software Engineering with Python</em></a></h3>
      <p>
        A textbook on building research software and running research software projects (2021).
      </p>
      <!--
      <p>
        <img src="@root/files/bib/py-rse.png" class="centered" alt="Research Software Engineering with Python cover" height="300px"/>
      </p>
      -->
    </div>
  </div>
  <div class="col-6 col">
    <div class="card">
      <h3><a href="@root/js4ds/"><em>JavaScript for Data Science</em></a></h3>
      <p>
        An introduction to JavaScript and web programming for data scientists (2020).
      </p>
      <!--
      <p>
        <img src="@root/files/bib/js4ds.jpg" class="centered" alt="JavaScript for Data Scientists cover" height="300px"/>
      </p>
      -->
    </div>
  </div>
</div>

<div class="row">
  <div class="col-6 col">
    <div class="card">
      <h3><a href="http://teachtogether.tech"><em>Teaching Tech Together</em></a></h3>
      <p>
        An introduction to evidence-based teaching for people with technical backgrounds
        (2019, <a href="https://drive.google.com/drive/folders/1LVcmp48Ym0c6pA9GOT6TrCa47RU1ugaV">slides</a>).
      </p>
      <!--
      <p>
        <img src="@root/files/bib/t3.jpg" class="centered" alt="Teaching Tech Together cover" height="300px"/>
      </p>
      -->
    </div>
  </div>
  <div class="col-6 col">
    <div class="card">
      <h3><a href="https://aosabook.org/"><em>The Architecture of Open Source Applications</em></a></h3>
      <p>
        A collection of essays describing the architectures of fifty open source projects (2011–12).
      </p>
      <!--
      <p>
        <img src="@root/files/bib/aosa-1.jpg" class="centered" alt="Architecture of Open Source Applications cover" height="300px"/>
      </p>
      -->
    </div>
  </div>
</div>
