{% extends "base.jinja" %}

{% block head_title %}
<title>{{site.title}}</title>
{% endblock %}

{% block page_title %}
<h1>{{site.author.name}}</h1>
{% endblock %}

{% block content %}
<div class="center">
  <p><em>start where you are - use what you have - help who you can</em></p>
</div>

{% include "homepage_bio.jinja" %}

<div class="row">
  <div class="col-6 col">
    <div class="card">
{% include "recent_posts.jinja" %}
    </div>
  </div>
  <div class="col-6 col">
    <div class="card">
{% include "recent_papers.jinja" %}
    </div>
  </div>
</div>

{% include "homepage_prior.jinja" %}
{% endblock %}
