<h2>Projects and Books</h2>

<div class="row">
  <div class="col-6 col">
    <div class="card">
      <h3><em><a href="https://carpentries.org">The Carpentries</a></em></h3>
      <p>
        A non-profit organization teaching basic software and data skills to researchers world-wide
        (1998–present).
      </p>
    </div>
  </div>
  <div class="col-6 col">
    <div class="card">
      <h3><a href="http://neverworkintheory.org"><em>It Will Never Work in Theory</em></a></h3>
      <p>
        Brief reviews for working programmers of empirical results in software engineering
        (2011–2023).
      </p>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-6 col">
    <div class="card">
      <h3><em><a href="@root/sdxpy/">Software Design by Example in Python</a></em></h3>
      <div class="row">
        <div class="col-4">
          <a href="@root/sdxpy/">
	    <img src="@root/sdxpy/sdxpy-cover.png" alt="Software Design by Example in Python" width="80%" class="image centered">
          </a>
        </div>
        <div class="col-8">
          <p>
            Two dozen worked examples that teach software design
	    by showing how to build the tools that programmers use every day using Python
	    (2024).
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-6 col">
    <div class="card">
      <h3><em><a href="@root/sdxjs/">Software Design by Example in JavaScript</a></em></h3>
      <div class="row">
        <div class="col-4">
          <a href="@root/sdxjs/">
	    <img src="@root/sdxjs/sdxjs-cover.png" alt="Software Design by Example in JavaScript"  width="80%" class="image centered">
          </a>
        </div>
        <div class="col-8">
          <p>
            Twenty worked examples that teach software design
	    by showing how to build the tools that programmers use every day using JavaScript
	    (2022).
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-6 col">
    <div class="card">
      <h3><a href="@root/py-rse/"><em>Research Software Engineering with Python</em></a></h3>
      <div class="row">
        <div class="col-4">
          <img src="@root/files/bib/py-rse.png" alt="Research Software Engineering with Python" width="80%" class="image centered"/>
        </div>
        <div class="col-8">
          <p>
            A textbook on building research software and running research software projects (2021).
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-6 col">
    <div class="card">
      <h3><a href="@root/js4ds/"><em>JavaScript for Data Science</em></a></h3>
      <div class="row">
        <div class="col-4">
          <img src="@root/files/bib/js4ds.jpg" alt="JavaScript for Data Scientists" width="80%" class="image centered"/>
        </div>
        <div class="col-8">
          <p>
            An introduction to JavaScript and web programming for data scientists (2020).
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-6 col">
    <div class="card">
      <h3><a href="http://teachtogether.tech"><em>Teaching Tech Together</em></a></h3>
      <div class="row">
        <div class="col-4">
          <img src="@root/files/bib/t3.jpg" alt="Teaching Tech Together" width="80%" class="image centered"/>
        </div>
        <div class="col-8">
          <p>
            An introduction to evidence-based teaching for people with technical backgrounds
            (2019).
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-6 col">
    <div class="card">
      <h3><a href="https://aosabook.org/"><em>The Architecture of Open Source Applications</em></a></h3>
      <div class="row">
        <div class="col-4">
          <img src="@root/files/bib/aosa-1.jpg" alt="Architecture of Open Source Applications" width="80%" class="image centered"/>
        </div>
        <div class="col-8">
          <p>
            A collection of essays describing the architectures of fifty open source projects (2011–12).
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
