<nav class="nav" aria-label="Site navigation">
  <div class="nav-left">
    <a class="brand" href="@root/">Third Bit</a>
  </div>
  <div class="nav-right">
    <a href="@root/about/">about</a>
    <a href="@root/blog/">blog</a>
    <a href="@root/selected/">selected</a>
    <a href="@root/talks/">talks</a>
    <a href="@root/packages/">packages</a>
    <a href="@root/bib/">bibliography</a>
    <a href="@root/fiction/">fiction</a>
  </div>
</nav>
