<nav>
  <div class="row underline">
    <div class="col-2 left">
      <a class="navlink" href="@root/">Home</a>
    </div>
    <div class="col-10 right">
      <a class="navlink" href="@root/about/">about</a>
      <a class="navlink" href="@root/blog/">blog</a>
      <a class="navlink" href="@root/selected/">selected</a>
      <a class="navlink" href="@root/talks/">talks</a>
      <a class="navlink" href="@root/packages/">packages</a>
      <a class="navlink" href="@root/bib/">bibliography</a>
      <a class="navlink" href="@root/fiction/">fiction</a>
    </div>
  </div>
</nav>
