{% for pair in snippets | batch(2, '') %}
<div class="row">
  {% for entry in pair %}
  {% if entry %}
  <div class="col-6 col">
    <div class="card{% if entry.beta is defined and entry.beta %} beta{% endif %}">
      <h4 class="card-title"><em><a href="{{ entry.url }}">{{ entry.title }}</a></em></h4>
      {% if entry.image is defined %}
      <div class="row">
        <div class="col-4">
          <a href="{{ entry.url }}">
            <img src="{{ entry.image.src }}" alt="{{ entry.image.alt }}" width="80%" class="image centered">
          </a>
        </div>
        <div class="col-8">
          <p>{{ entry.description }}</p>
        </div>
      </div>
      {% else %}
      <p>{{ entry.description }}</p>
      {% endif %}
    </div>
  </div>
  {% endif %}
  {% endfor %}
</div>
{% endfor %}
