<h2><a href="@root/bib/">Recent Papers</a></h2>
<table>
  <tr></th><th>Year</th><th>Title</th></tr>
  {% for paper in site.papers %}
  <tr>
    <td>{{paper.year}}</td>
    <td><a href="{{paper.url}}">{{paper.title}}</a></td>
  </tr>
  {% endfor %}
</table>
<p>
  <em>…<a href="@root/bib/">all publications</a></em>
</p>
