<h2><a href="@root/blog/">Recent Posts</a></h2>
<table>
  <tr><th>Date</th><th>Title</th></tr>
  {% for post in site._posts[-8:]|reverse %}
  <tr><td>{{post.date}}</td><td><a href="{{post.url}}">{{post.title}}</a></td></tr>
  {% endfor %}
</table>
<p>
  <em>
    …<a href="@root/blog/">read them all</a>
    or follow me on <a href="{{site.author.mastodon}}">Mastodon</a>
  </em>
</p>
