<div class="row">
  <div class="col-3">
    <p class="center">
      <a href="@root/sdxpy/">
	<img src="@root/sdxpy/sdxpy-cover.png" alt="Book cover" width="60%" class="image centered">
      </a>
    </p>
    <p class="center">
      <a href="@root/sdxpy/">read online</a>
    </p>
  </div>
  <div class="col-6">
    <p>
      The <a href="https://www.taylorfrancis.com/books/mono/10.1201/9781032725239/software-design-example-greg-wilson">Python</a>
      and
      <a href="https://www.taylorfrancis.com/books/mono/10.1201/9781003317807/software-design-example-greg-wilson">JavaScript</a>
      versions of <a href="@root/sdx/"><em>Software Design by Example</em></a>
      are both available for purchase or to read online.
      All royalties from both books go to the
      <a href="https://www.reddoorshelter.ca/">Red Door Family Shelter</a> in Toronto.
    </p>
    {% if showlink %}
    <p class="center"><em><a href="@root/sdx/">read the reviews</a></em></p>
    {% endif %}
  </div>
  <div class="col-3">
    <p class="center">
      <a href="@root/sdxjs/">
	<img src="@root/sdxjs/sdxjs-cover.png" alt="Book cover" width="60%" class="image centered">
      </a>
    </p>
    <p class="center">
      <a href="@root/sdxjs/">read online</a>
    </p>
  </div>
</div>
