{% extends "base.jinja" %}

{% block content %}
<h2>Favorites</h2>
{% set category_name = "favorite" %}
{% include "category.jinja" %}
<h2>Anecdotes</h2>
{% set category_name = "anecdote" %}
{% include "category.jinja" %}
{% endblock %}
