<!DOCTYPE html>
<html lang="en">
  <head>
    {% include "head.jinja" %}
    <title>{{node.title}}</title>
    <script src="@root/assets/slides.js" defer></script>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="@root/assets/slides.css">
  </head>
  <body>
{{node.html}}
  </body>
</html>
