<!DOCTYPE html>
<html lang="en">
  <head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="@root/favicon.ico">
  <link rel="stylesheet" href="@root/assets/tango.css">
  <link rel="stylesheet" href="@root/assets/slides.css">
  <!-- <script defer data-domain="third-bit.com" src="https://plausible.io/js/plausible.js"></script> -->
  <script>
    MathJax = {
      tex: {
        inlineMath: [['\\(', '\\)']]
      }
    };
  </script>
  <script
    type="text/javascript"
    id="MathJax-script"
    async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js">
  </script>
  <title>{{node.title}}</title>
</head>

  <body>
    <textarea id="source">

<div class="center">
  <h1>{{node.title}}</h1>
  {% if node.subtitle %}<p><em>{{node.subtitle}}</em></p>{% endif %}
  <p><img src="@root/files/talks/codebender-logo.svg" alt="Third Bit logo" width="20%" /></p>
  <h2>Greg Wilson</h2>
  <p>{{node.date}}</p>
  <p><img src="@root/files/talks/cc-by.svg" width="20%" alt="CC-BY" /></p>
</div>

---

{{node.text}}

    </textarea>
    <script src="@root/assets/remark-latest.min.js"></script>
    <script>
      var slideshow = remark.create()
    </script>
  </body>
</html>
