html {
    --muted-light: #e6e7e9;
    line-height: 1.25;
}

article p {
    line-height: 1.25;
}

h1, h2, h3, h4 {
    margin-bottom: 0px;
}

h2, h3, h4 {
    margin-top: 0px;
}

dd {
    padding-bottom: 5px;
}

b,
strong {
    background-color: var(--muted-light);
}
