<!DOCTYPE HTML>
<html>
  <head>
    {% include header.html %}
    <title>{{page.title}}</title>
  </head>
  <body>
    <div class="container shadow">
      <div class="row-fluid">
        <div class="span10 offset1">
          {% include navbar.html %}
          {{content}}
          {% include footer.html %}
          {% if page.nocomments %}
          <p><em>Comments have been disabled for this page.</em></p>
          {% else %}
          {% include disqus.html %}
          {% endif %}
        </div>
      </div>
    </div>
  </body>
</html>
