---
layout: default
---
<h3><a href="{{ site.github.url }}{{ page.url }}">{{ page.title }}</a></h3>
<p><em>{{ page.date | date: "%b %-d, %Y" }}</em></p>
<div class="post-content">
  {{ content }}
  {% if page.original == 'swc' %}
  <p align="center"><em>This post originally appeared in the <a href="http://software-carpentry.org">Software Carpentry</a> blog.</em></p>
  {% endif %}
  {% if page.original == 'nwit' %}
  <p align="center"><em>This post originally appeared at <a href="http://neverworkintheory.org/">It Will Never Work in Theory</a>.</em></p>
  {% endif %}
</div>
<div class="pagination">
  {% if page.previous %}
  <a href="{{ site.github.url }}{{ page.previous.url }}">&lt;&nbsp;Older</a>
  {% endif %}
  {% if page.previous and page.next %}
  &mdash;
  {% endif %}
  {% if page.next %}
  <a href="{{ site.github.url }}{{ page.next.url }}">Newer&nbsp;&gt;</a>
  {% endif %}
</div>
{% unless page.nocomments %}{% include disqus-comments.html %}{% endunless %}
