<!DOCTYPE html>
<html lang="en">
  <head>
    {% include header.html %}
    <title>{{ site.name }}{% if page.title %}: {{ page.title }}{% endif %}</title>
  </head>
  <body>
    {% include navbar.html %}
    <div class="container container-left">
      <div class="row">
        <div class="col-md-3 hidden-xs">
          {% include teaching-toc.html %}
        </div>
        <div class="col-md-9">
          <div class="well">
            <div align="center">
              <h1>How to Teach Programming (and Other Things)</h1>
            </div>
            {{ content }}
          </div>
        </div>
      </div>
    </div>
    {% include footer.html %}
  </body>
</html>
