.deck-container {
    font-family: lato;
    background:
       /*linear-gradient(to top right, rgba(255, 255, 255, 0),  rgba(255, 255, 255, 0.2)),*/
       radial-gradient(circle farthest-corner at center center, #555A5F 0%, #1C1E20 100%) repeat scroll 0% 0% #2B2B2B;
    color: white;
    text-shadow: black -1px 1px 1px;
    font-size: 28px;
}

.deck-container>.slide {
    text-align: center;
    padding-top: 30px;
}

.deck-container>.slide>img { /* special tuning for the browsercast bar, to avoid systematically adding an additional padding on top */
    margin-top: 1em;
}

pre {
    font-size: 75%;
    display: inline-block;
    text-align: left;
    color: #a2e9f4;
}

p {
    margin-top: 0.5em;
}

a[href] {
    color: #13DAEC;
}
a[href]:hover {
    color: #71E9F4;
}
