section {
  text-align: left;
}

.reveal section img {
  background: none;
  border: none;
  box-shadow: none;
}

p.title {
  text-align: left;
  font-weight: bold;
}

p.indent {
  margin-left: 2em;
}

div.left {
  text-align: left;
  float: left;
}

div.center {
  text-align: center;
}

div.right {
  float: right;
  text-align: right;
}
