section {
  text-align: left;
}

.reveal section img {
  background: none;
  border: none;
  box-shadow: none;
}

p.title {
  text-align: left;
  font-weight: bold;
}

.reveal blockquote {
  width: 90%;
}

div.left {
  text-align: left;
  float: left;
  width: 40%;
}

div.right {
  float: right;
  text-align: right;
  width: 60%;
}
