body {
    margin-left: 1rem;
    max-width: 50rem;
}

span.sidenote {
    float: right;
    clear: right;
    margin-right: -25rem;
    width: 20rem;
    margin-top: 0.3rem;
    margin-bottom: 0;
    vertical-align: baseline;
    position: relative;
}
