@import url(https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz);
@import url(https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic);
@import url(https://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700,400italic);

body {
    font-family: 'Droid Serif';
    line-height: 1.5;
}

h1, h2, h3 {
    font-family: 'Yanone Kaffeesatz';
    font-weight: normal;
}

h1 {
    margin-bottom: 0rem;
}

.remark-code, .remark-inline-code {
    font-family: 'Ubuntu Mono';
}

.project-lead {
    background-color: lightblue;
}

.exercise {
    background-color: lightblue;
    font-style: italic;
}

.sidebar {
    background-color: lightblue;
}

th {
    background-color: lightblue;
    padding-left: 1em;
    padding-right: 1em;
}

td {
    padding-left: 1em;
    padding-right: 1em;
}

div.flex-row {
    display: flex;
    flex-direction: row;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

div.flex-col {
    margin-left: 1rem;
    margin-right: 1rem;
}

div.wide {
    width: 40%;
}

div.narrow {
    width: 25%;
}

p.hanging-indent {
    padding-left: 2rem;
    text-indent: -2rem;
}

img.column {
    width: 100%;
}

div.split-title p {
    padding-bottom: 0px;
    margin-bottom: 0px;
    font-weight: bold;
}

div.split-title h2 {
    padding-top: 0px;
    margin-top: 0px;
}

.split-first {
    background-color: lightblue;
}
